[2019-12-03 13:37] lvanvugt opened #1 "Kick-off"
A short resume of today's conf call of @martonsagi and me, which can be seen as kick-off to this project. And a short history.

### History
- @jhoek and @lvanvugt started over 6 month ago the [ATDD.TestScriptor](https://github.com/fluxxus-nl/ATDD.TestScriptor) project as a means to get easily form ATDD scripts to AL test codeunits
- This implemnted the ATDD.TestScriptor [PowerShell module](https:/

[2019-12-04 00:03] martonsagi commented on #1
Hi @lvanvugt ,

I've created an initial UI prototype, what I could imagine as a basis.

* Toolbar: main functions
  * New Feature
  * New Scenario
  * Save: clicking on this would write back changes
  * Cancel: reload original state without writeback (not on the picture, just thought of it)
  * Run Tests: possible AL Test Runner integration
  * Export: export data to CSV with a similar structure t

[2019-12-05 12:09] lvanvugt commented on #1
Looks good.

[2019-12-06 23:46] martonsagi commented on #1
I'm finished with the foundation of the UI and VSCode extension parts.

Here's a prototype: [Package@0.0.1](https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/blob/master/packages/atdd-testscriptor-0.0.1.vsix) that you can install into VSCode to get an overall feeling, maybe other ideas/changes to the UI.

![image](https://user-images.githubusercontent.com/18100709/70363011-1c241600-1

[2019-12-07 11:22] lvanvugt commented on #1
Great. Will be picking this up next week.

[2019-12-09 10:44] lvanvugt commented on #1
Installing now.

Global Testing approach. Will ...

1. report each issue as a new issue. So not on this issue. That's much easier/better to track and resolve
1. test on BC setup
1. test on NAV 2018 setup
1. test on (managing and modifying) existing test codeunits
1. test on (creating) new test codeunits
1. test on duplicating a test (function)
1. ...

[2019-12-11 06:24] lvanvugt commented on #1
@martonsagi I am trying tio get to open the TestScriptor page in VSCode, but I don't seem to find something to access it. What do I need to do?

[2019-12-11 14:32] martonsagi commented on #1
@lvanvugt

There's a new command called "ATDD Test Scriptor" in command list (CTRL+SHFT+P)
Did you receive any errors while trying to open it?

![image](https://user-images.githubusercontent.com/18100709/70630095-454bfa00-1c2b-11ea-8b9d-aec919c3c3d5.png)

[2019-12-11 14:33] lvanvugt commented on #1
Offffff courssssssse.

Breaking my head on that and not thinking of the command pallette. Ouch, stupid me. Thanx!

[2019-12-13 11:25] lvanvugt opened #2 "UI Prototype: Naming of Extension"
The PowerShell module was deliberately called ATTD.TestScriptor. My preferences is to continue to use this name for the VSCode extension:

Unless there are valid reasons not to.

![image](https://user-images.githubusercontent.com/18466198/70796715-3d16ca80-1da3-11ea-95a2-91519b296c18.png)
thus would become
![image](https://user-images.githubusercontent.com/18466198/70796936-a8f93300-1da3-11ea-8e47

[2019-12-13 11:30] lvanvugt opened #3 "UI Prototype: How to resize ATTD.TestScriptor page parts?"
It seems I cannot resize the pages parts of the ATDD.TEstScriptor page:
![image](https://user-images.githubusercontent.com/18466198/70797179-40f71c80-1da4-11ea-9ad9-b9653aa7ae61.png)
This is not a mayor issues now, but eventually this is a nuissance (at least to me).

[2019-12-13 11:33] lvanvugt opened #4 "UI Prototype: What is title bar telling currently"
What is the tilte bar currently telling me as it says 2 Features, 5 Scenarios, 30 Entries?
In the page I do see 2 features, but only 3 scenarios. And what does _30 _entries say?

![image](https://user-images.githubusercontent.com/18466198/70797307-87e51200-1da4-11ea-9722-33987446aef4.png)

[2019-12-13 11:39] lvanvugt opened #5 "UI Prototype: how to copy paste Scenario"
How to copy paste to create new scenarios that are similar to existing one? This is the power of the text based PowerShell ATDD.TestScriptor and typically something you will need to do very often as within a fetaure potentially you will need to create similar tests.

Would be great if you could copy down a line in the left part of the page.

[2019-12-13 11:50] lvanvugt opened #6 "UI Prototype: Feature and Scenario buttons"
**Feature** button is not doing anything yet. What is the thought on this?

The **Scenario** button creates a new line and also for this: what is the thought on this (what it would do)?

What I would expect to be able to do?

1. Define a new test with all ATDD tags (Feature, Scenario, Given, When, Then) using right page part
1. Save this test, i.e. _Scenario_
1. Create a new like in the above 2 st

[2019-12-13 11:52] lvanvugt opened #7 "UI Prototype: Project column"
What is the purpose of the Project column?

It seems obsolete to me as I am in a VSCode project in which I will create me tests.

[2019-12-13 11:57] lvanvugt opened #8 "UI Prototype: How to create and view AL code"
What is the thought on how to create and view AL code form the TestScriptor page?

Me as a user would not have AL code yet when creating my initial ATDD scenarios. What action will allow me to generate the AL test codunit from it?
Similarly, what action would allow me to jump te AL code behind?

Is the **Export** button related to this?

[2019-12-13 11:59] lvanvugt commented on #1
@martonsagi first questions/issues reported: #2, #3, #4, #5, #6, #7, #8

[2019-12-17 22:02] martonsagi commented on #2
No specific reason, just thought it's more readable on the action bar with spaces.
I've changed the naming everywhere to `ATDD.TestScriptor`.

[2019-12-17 22:10] martonsagi commented on #3
Never occurred to me but it's doable. I suppose the resized layout should be saved and loaded back?

Note to self: https://github.com/nathancahill/split/

[2019-12-17 22:15] martonsagi commented on #4
As this is a UI prototype, all the displayed data are static, not calculated/accurate yet. Just typed in something to get an idea of look and feel.
My idea is to display summarized test info on the toolbar.

* Entries: I meant the aggregated number of all Given/When/Then entries, not sure if it's meaningful in this case.

What's your opinion?

[2019-12-17 22:19] martonsagi commented on #5
We could do these things:

1. Have a `Copy` function on the toolbar that duplicates the selected row.
2. Create a text-based format, possible a CSV, that can be exported/imported between workspaces.

[2019-12-17 22:32] martonsagi commented on #7
I put `Project` column there to support multi-root workspaces, where multiple test apps could be part of a workspace or even just a MainApp/TestApp layout.
This also provides better overview of all features/scenarios for complex workspaces.

Possible use cases:

* Multi-root workspace 1
  * MainApp
  * TestApp

* Multi-root workspace 2
  * CustomerApp1
  * CustomerAppTest1
  * CustomerApp2
  * Cus

[2019-12-17 22:42] martonsagi commented on #8
I would use the "Save" button on the toolbar to save changes and initiate actual AL code generation/update.
This brings up another question: how should we generate new files? One file for each feature?

`Codeunit` column shows the actual AL object name as a clickable link. Idea is that clicking on that link would open the AL file on a new tab.

Export is more like a text-based format that is consu

[2019-12-17 22:56] martonsagi commented on #6
Wasn't sure at the time. Now based on your expected steps, Feature button doesn't seem to have a function anymore. I'll remove the button and make the `Feature` textbox on the right into a dropdown.

At the moment selected grid line is shown on the right pane. So the idea is:
* Scenario button would insert an empty line
* This new line becomes the selected grid row
* So it's also displayed on the

[2019-12-18 07:38] lvanvugt commented on #3
Would be great.

[2019-12-18 07:40] lvanvugt commented on #4
Fully agree

Does not seem meaningful to me.

[2019-12-18 07:49] lvanvugt commented on #5
Agree

[2019-12-18 07:50] lvanvugt commented on #7
Agree

[2019-12-18 07:52] lvanvugt commented on #8
One file/test codeunit per feature

Great

Good idea for now

[2019-12-18 07:52] lvanvugt commented on #6
OK

[2020-03-07 12:52] martonsagi commented on #2
This is done, also keeping this in mind during development.

[2020-03-07 12:52] #2 closed

[2020-03-07 12:55] martonsagi commented on #3
Panels are now resizable.

![](https://raw.githubusercontent.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/master/media/ATDDResizablePanels.gif)

[2020-03-07 12:56] martonsagi commented on #4
I've changed the toolbar part a bit to save up screen space.

This is how it looks like. What do you think?

![](https://raw.githubusercontent.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/master/media/homepage.PNG)

[2020-03-07 12:58] lvanvugt commented on #4
Great to see you're busy. ;-) And looks good. Anything I can ut my hands on already?

[2020-03-07 13:06] martonsagi opened #9 "v0.0.3 available for testing"
Hi Luc,

I have uploaded the latest version to packages folder: [0.0.3](https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/blob/master/packages/atdd-testscriptor-0.0.3.vsix)

You can install, try this out. Unfortunately only listing works yet, I'm still working on the writeback parts.

What's changed:
* Backported many framework features from AL Studio
* Finalized UI theming: light, d

[2020-03-07 13:08] martonsagi commented on #4
I'm sorry, I got addicted to the AL Studio development, but I didn't forget ATDD! :)
As a matter of fact, I have also uploaded a testable vsix file, wrote details in #9 .

[2020-03-09 16:16] martonsagi commented on #9
Let's use Github releases instead creating issues for each version. I've publish 0.0.5 today.
Should you encounter errors, please open new issues.

[2020-03-09 16:16] #9 closed

[2020-03-09 16:17] martonsagi commented on #4
I think the titlebar is settled for now, so we can cross this off the list. :)

[2020-03-09 16:17] #4 closed

[2020-03-09 16:22] martonsagi commented on #7
I made a small change: Project column is hidden if you have only one test app in your workspace.
This will help to avoid some redundant data display.

So, in case of a basic setup, there will be no Project column:
[code]

Project column becomes visible if there are at least two test apps:
[code]

[2020-03-09 16:25] martonsagi commented on #8
I made a change: instead of `Codeunit' column, Scenario name became clickable. Also clicking on the name navigates you to the actual AL Method within the file.

[2020-03-10 11:10] #1 closed

[2020-03-10 13:01] lvanvugt opened #10 "v 0.0.5: each scenario has a number and that should be displayed in ATDD.TestScriptor page."
Each scenario should have a number and that's not supported now in the ATDD.TestScriptor page.

Using existing test codunits with ATDD basd tst functions to populated the ATDD.TestScriptor page the scenario number is not displayed. For example:

![image](https://user-images.githubusercontent.com/18466198/76314966-0edc5480-62d8-11ea-9aab-e8f4e33b3d07.png)

![image](https://user-images.githubusercon

[2020-03-10 13:03] lvanvugt commented on #10
Note that the "#0001" above has been converted to #1

[2020-03-10 13:12] lvanvugt opened #11 "v 0.0.5: An unexpected error occurred invoking 'QueryObjects' on the server. ArgumentException: Requested value 'FEATURE]' was not found."
Apparently wrapping FEATURE name in rectangular brackets makes the tool not work right.

Example of existing test codeunit FEATURE tag

    // [FEATURE] [Seminar Management - Configuration]

The tool would not display anything and the error as in the title was thrown. Only after removing brackets in all FEATURE descriptions would solve issue:

    // [FEATURE] Seminar Management - Configuration

[2020-03-10 13:17] lvanvugt opened #12 "v 0.0.5: [TransactionModel(TransactionModel::AutoRollback)] tag makes test invisible"
The following test will not be show in ATDD.TestScriptor page:

![image](https://user-images.githubusercontent.com/18466198/76315863-d0e03000-62d9-11ea-9796-b58cebb86e70.png)

Only when removing the  TransactionModeltag will make it show:

    [TransactionModel()]

[2020-03-10 13:25] lvanvugt commented on #3
Looks good in [0.0.5](https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/releases/tag/0.0.5).

[2020-03-10 13:25] #3 closed

[2020-03-10 13:25] lvanvugt commented on #5
I guess this has not been tackled yet on [0.0.5](https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/releases/tag/0.0.5)?

[2020-03-10 13:27] lvanvugt commented on #6
I guess this also not working yet on [0.0.5](https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/releases/tag/0.0.5)?

[2020-03-10 13:29] lvanvugt commented on #7
Single project tested and looks fine.

[2020-03-10 13:33] lvanvugt commented on #12
Just checked and same applies to the HandlerFunctions tag:

    [HandlerFunctions('PostedWhseShipmentStickerReportHandler,SalesShipmentReportHandler,SalesShipmentStickerReportHandler')]

[2020-03-10 13:40] lvanvugt opened #13 "v 0.0.5: only display FEATURE name when new group starts"
At this moment on each row in the ATDD-TestScriptor page the FEATURE name is displayed eventhough it's he same as on the previous row:

![image](https://user-images.githubusercontent.com/18466198/76317639-cbd0b000-62dc-11ea-87e8-0be2e110741d.png)

It would be more helpful if the name is only displayed when a new group of row for the same FEATURE starts:

![image](https://user-images.githubusercont

[2020-03-10 13:42] lvanvugt commented on #9
Started testing and reported first issues.

All-in-all looks nice. Really looking forward to write back as that's where it will start for all users.

[2020-03-10 13:46] lvanvugt opened #14 "v 0.0.5: hoover over when columns are to narrow to display for description"
When I resize the various panes the columns of the main pane of the ATDD.TestScriptor page will be too narrow to display the full description:

![image](https://user-images.githubusercontent.com/18466198/76318284-c6c03080-62dd-11ea-910e-a1bbd592303a.png)

Hoover over should be enabled to get the full description whe hoovering over the text.

[2020-03-13 21:27] martonsagi commented on #5
Nope, it's still on the todo list.

[2020-03-13 21:28] martonsagi commented on #6
Nope, it's still on the todo list.

[2020-03-13 21:30] martonsagi commented on #10
Of course, the ID! I was so focused on names, completely forgot about that. :)
I'll implement it for the next version.

[2020-03-13 21:32] martonsagi commented on #13
I'll check whether it can be solved with the free version of ag-grid. Column field needs to have a value as its directly bound to the edit form.

[2020-03-13 21:37] martonsagi commented on #12
This is an issue within the parser library, needs some investigation.

[2020-03-13 21:44] martonsagi commented on #11
Hm, interesting bug, first option should also be visible but with square brackets.

I think we should choose a fixed format as the object writer will be using one fixed style. Which one would it be?

[2020-03-14 10:37] lvanvugt commented on #13
Might it work being greying out repeated FEATURE names?

[2020-03-14 10:41] lvanvugt commented on #11
Well, the square brackets around the tag description most probably will not be there when creating new codeunit based on ATDD definitions in ATDD.TestScriptor. But still, somebody can added these brackets in the AL object. We do not have control over that, but we need to make sure the tool is going to handle it some way (an that certainly should not be not displaying anything).
So IMHO it's not a

[2020-03-14 11:05] lvanvugt opened #15 "Place FEATURE tag(s) in OnRun trigger"
See [same ](https://github.com/fluxxus-nl/ATDD.TestScriptor/issues/27) as on PowerShell module project of ATTD.TestScriptor.

[2020-03-14 11:06] lvanvugt opened #16 "Add Error call to each THEN function"
See [same ](https://github.com/fluxxus-nl/ATDD.TestScriptor/issues/28) on PowerShell module project of ATTD.TestScriptor.

To disable this feature we should add a check box to the ATDD.TestScriptor page

[2020-03-22 09:45] martonsagi commented on #10
ID column has been implemented. There's not much logic to it yet. Should it be an auto-incremental number or manually assigned?

[2020-03-22 09:46] martonsagi commented on #12
I've fixed the underlying issue in the Parser library. Seems to be working now regardless of the amount of additional attributes.

[2020-03-22 09:47] martonsagi commented on #11
I've fixed the regular expression, so everything after [FEATURE] will be handled correctly as a string.

[2020-03-22 11:19] lvanvugt commented on #10
Auto incremental when creating new scenarios.

[2020-03-23 23:00] martonsagi opened #19 "Editing Feature list"
@lvanvugt

Creating/changing features was not possible via GUI. I've changed the `+ Feature` button's behaviour to show an editable view of features on the right.

Currently, it's a UI demo for feedback - without functionality:
![ATDDFeatureEditor](https://user-images.githubusercontent.com/18100709/77370754-cefa8000-6d61-11ea-87b0-747f5630cdbb.gif)

[2020-04-01 12:36] lvanvugt opened #20 "v 0.1.30: command 'atddTestScriptor.open' not found"
Installed [v 0.1.30](https://fluxxus.visualstudio.com/TestScriptor/_build/results?buildId=30) and when wanting to use ATDD.TestScriptor command in VSCode getting the error:

![image](https://user-images.githubusercontent.com/18466198/78137728-15b53d80-7426-11ea-8492-473e4ae76bbd.png)

[2020-04-01 12:46] lvanvugt commented on #20
![image](https://user-images.githubusercontent.com/18466198/78138644-90cb2380-7427-11ea-9e80-97a7d10f1bd4.png)

[2020-04-01 12:49] martonsagi commented on #20
Should be fixed, please check with the new build.

[2020-04-01 13:10] lvanvugt commented on #20
Fixed

[2020-04-01 13:10] #20 closed

[2020-06-08 08:26] lvanvugt opened #22 "Planning (Beta)"
## Near future planning
1. Get David trained on code **layout/structure/architecture **-> DONE**
  - start today and continue this week
  - try to record (for internal use)
2. David can then decide what fits him best and pick that up
  - deadline June 15, 2020
3. Luc could than write some specific specifications **-> DONE**
  - Luc will already start to write a first version (of what's already the

[2020-06-15 05:55] lvanvugt commented on #11
Working fine. Closing issue.

[2020-06-15 05:55] #11 closed

[2020-06-15 05:59] lvanvugt commented on #12
Tested and works fine. Closing issue.

[2020-06-15 05:59] #12 closed

[2020-06-15 08:23] lvanvugt commented on #6
Luc will elaboarate and break this up into smaller scenarios.

[2020-06-15 08:23] lvanvugt commented on #7
Probably only checking needed.

[2020-06-15 08:24] lvanvugt commented on #8
Closing. See Issue #6 .

[2020-06-15 08:24] #8 closed

[2020-06-15 08:25] lvanvugt commented on #10
Closing, see #6 .

[2020-06-15 08:25] #10 closed

[2020-06-15 08:29] lvanvugt opened #23 "When creating new Scenario make sure that row is selected"
When creating new Scenario with **Scenario** button, the newly added line in the TestScriptor page is not selected. Make sure that row is selected.

[2020-06-15 08:43] lvanvugt commented on #22
## Meeting June 15, 2020
We went through the open issue and prioritized them according to the following list:
- version A: can be picked up right away
- version B: next to be picked up (but needs  probably some detailing)
- version C: "for later"

### [version A](https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/issues?q=is%3Aissue+is%3Aopen+label%3A%22version+A%22)
These are now ass

[2020-06-15 08:52] lvanvugt commented on #23
This issue picks up the line selction as mentioned in #6.

[2020-06-17 09:47] FSharpCSharp opened #24 "An unexpected error occurred invoking 'QueryObjects' on the server. ArgumentException: Requested value 'Deleting' was not found"
When calling the extension function in the menu in Visual Studio code (pre-release version 0.1.4, self-made because last official build is too old) the following error occurs when the system tries to determine all existing tests.

`An unexpected error occurred invoking 'QueryObjects' on the server. ArgumentException: Requested value 'Deleting' was not found.`

[2020-06-18 06:53] lvanvugt commented on #24
Thanx for your interest and trying. Know that this project is still underway. Nothng is final yet.

[2020-06-18 06:54] #24 closed

[2020-06-19 12:14] FSharpCSharp commented on #24
@lvanvugt

Thanks for the quick response. It's clear that the project is still in development.

Do you already have an approximate schedule when the extension will be released for the first time in the Visual Studio Marketplace? A rough indication is enough for me. I told my colleagues that something great is coming and that it will make our daily work with test routines easier, and now they are a

[2020-06-19 14:21] lvanvugt commented on #24
Ouch, that puts the bar in place!

We're now hopefully speeding up, but I cannot promise yet. I am hoping we do have a version reafy end of summer.

[2020-06-21 11:58] lvanvugt opened #27 "Use Case: Adding Given-When-Then"
The following flowchart shows the use case:

![Use Case (#27) - Adding Given-When-Then](https://user-images.githubusercontent.com/18466198/85225576-aae72300-b3d2-11ea-8f6a-a96b916e0bc2.jpg)

## Exceptions
- Non-alpabathic or non-numerical characters should not be ported to helper function names
- _Given/When/Then description_ should not have unlimited length as AL function names have a max length

[2020-06-21 12:19] lvanvugt opened #28 "Use Case: Removing Given-When-Then"
The following flowchart shows the use case:

![Use Case (#28) - Removing Given-When-Then](https://user-images.githubusercontent.com/18466198/85225585-bb979900-b3d2-11ea-9d3b-0093db150405.jpg)

## Exceptions

## Settings

- Make setting possible that user can disable the confirm on removing helper function with two flavors
  1. Do not show and do **not** remove (this scenario is not (yet) in flowch

[2020-06-21 12:19] lvanvugt opened #29 "Use Case: Moving Given-When-Then"

[2020-06-22 07:28] lvanvugt opened #30 "Use Case: Updating Given-When-Then"
The following flowchart shows the use case:

![Use Case (#30) - Updating Given-When-Then](https://user-images.githubusercontent.com/18466198/87404237-314fe880-c5be-11ea-9a50-83d3fb2408b2.jpg)

## Exceptions
- Non-alpabathic or non-numerical characters should not be ported to helper function names (see also #27)
- Given/When/Then description should not have unlimited length as AL function names hav

[2020-06-22 08:41] DavidFeldhoff opened #31 "Project column is not displayed when there are multiple projects"

[2020-06-22 08:43] DavidFeldhoff opened #32 "Hamburger Menu does not open"
It seems like there is missing some javascript.

[2020-06-22 09:31] DavidFeldhoff opened #33 "ObjectParser crashes if there is a different Tag in the comments"
If a test-codeunit contains a line like the following, then the parser crashes becaues the tag cannot be parsed to Feature, Scenario, Given, When or Then.
local procedure Testmethod2
// [Pre-Requirement] Testmethod 1
begin
end

[2020-06-22 09:31] #23 closed

[2020-06-22 14:07] #14 closed

[2020-06-22 19:07] lvanvugt commented on #14
Tested and OK. Now next issue: hoover over on Given/When/Then. Will record new issue.

PS: issue @DavidFeldhoff should not be closed whene not yet tested

[2020-06-22 19:10] lvanvugt opened #35 "v0.1.52: Hoover over needed on Feature/Scenario/Given/When/Then in Edit Scenario pane"
When _Edit Scenario_ pane is too narrow you cannot read the description of Feature/Scenario/Given/When/Then. Hoover over should be enabled.

![image](https://user-images.githubusercontent.com/18466198/85325950-bdde1e00-b4cc-11ea-9c67-a4e7666e9c45.png)

[2020-06-22 19:11] DavidFeldhoff commented on #14
Sorry, was closed automatically by the pull request :)

[2020-06-22 19:12] lvanvugt commented on #23
Tested and OK.

[2020-06-22 19:12] lvanvugt commented on #14
OK.

[2020-06-22 19:15] lvanvugt commented on #7
Duplicate of #31.

[2020-06-22 19:15] #7 closed

[2020-07-11 13:33] DavidFeldhoff commented on #30
Adding to the exceptions:
A helper-Function will only be renamed if it matched the old value of the given-when-then-statement.

[2020-07-14 07:54] lvanvugt commented on #30
Added to main description.

[2020-07-14 07:58] lvanvugt commented on #22
## Meeting June 22, 2020
A first part was done: adding given-when-then (#27)

Next meeting in 2 weeks to allow for more room to work on next to other projects

## Next meeting
July 13, 2020, 10:00 (moved to July 14)

[2020-07-14 08:42] lvanvugt commented on #22
## Meeting July 13, 2020
- smalls steps are being done
- _Update Given-When-Then_ (#30) flowchart has to be updated (not fully clear)

## Next meeting
July 20, 2020, 10:00

[2020-07-15 13:13] martonsagi commented on #27
@DavidFeldhoff
Hi,

Settings object will be sent in a simple key->value format to the backend.

![image](https://user-images.githubusercontent.com/18100709/87549085-a77f4880-c6ad-11ea-872e-dfe52518f09c.png)

[2020-07-20 08:27] lvanvugt commented on #22
## Meeting July 20, 2020
- @DavidFeldhoff
  - working on back-end service and finished _adding, updating and removing_ GIVEN-WHEN-THEN (scenarios #27, #28, #30)
  - _moving_ part (#29) not yet as it needs an adjustment to the object model
  - provide status update on this issue
- @martonsagi
  - will now pick up UI side of _adding, updating and removing_ GIVEN-WHEN-THEN (scenarios #27, #28, #30) t

[2020-07-20 08:29] lvanvugt commented on #27
@DavidFeldhoff does it make sense to include #16 here already?

[2020-07-20 10:28] DavidFeldhoff commented on #27
Yes, definitely 👍

[2020-07-20 14:31] martonsagi commented on #27
@DavidFeldhoff
I have added the UI parts to AddingGivenWhenThen branch. You should now reveice nofitication on the Backend when scenario or given/when/then data changes.

[2020-07-27 06:05] DavidFeldhoff commented on #30
@lvanvugt with the latest changes on the "AddingGivenWhenThen"-branch the rename-part is ready to test. Please give me feedback, if something's missing.
I don't know yet what to do in the following cases:
[code]
Currently I update the procedure call to a renamed one and let the return value and the passing of the parameter untouched. But the newly created procedure with the updated name does not h

[2020-07-27 06:09] DavidFeldhoff commented on #28
I pushed an update on this. The settings part is currently missing, so I've still something to do here.
@martonsagi can you improve the UI-behaviour on deletion as currently the UI-element is deleted before the user confirms that he wants to delete that?

[2020-07-27 06:10] DavidFeldhoff commented on #27
@lvanvugt : It's ready to test in the "AddingGivenWhenThen" Branch

[2020-07-27 06:12] DavidFeldhoff commented on #16
@lvanvugt : It's ready to test on the "AddGivenWhenThen" Branch

[2020-07-29 09:55] lvanvugt opened #38 "Use Case: Adding Scenario"
The following flowchart shows the use case:

![Use Case (#38) - Adding Scenario](https://user-images.githubusercontent.com/18466198/95056825-8d299980-06f5-11eb-89d7-0278359f8f04.jpg)

## Exceptions
- Non-alphabetical or non-numerical characters should not be ported to test function name
- _Scenario description_ should not have unlimited length as AL function names have a max length of 120 characte

[2020-07-29 10:02] lvanvugt opened #39 "Use Case: Removing Scenario"
The following flowchart shows the use case:

![Use Case (#39) - Removing Scenario](https://user-images.githubusercontent.com/18466198/88787009-83366800-d193-11ea-9c90-59c84fbe131b.jpg)

## Exceptions

## Settings

- Make setting possible that user can disable the confirm on removing helper function with two flavors (see #28)
  1. Do not show and do **not** remove (this scenario is not (yet) in flo

[2020-09-20 05:43] DavidFeldhoff commented on #33
Already in the TwoLayers Branch which will be merged in the master branch at some time

[2020-09-20 05:43] #33 closed

[2020-09-20 05:43] DavidFeldhoff commented on #32
Hamburger Menu was removed

[2020-09-20 05:43] #32 closed

[2020-09-20 05:53] DavidFeldhoff commented on #39
If the Scenario has handler functions these should be deleted (after a confirmation of the user) as well, I guess? I'll implement it like this at first.

[2020-09-20 06:44] lvanvugt commented on #39
Agree.

[2020-09-21 11:04] DavidFeldhoff opened #43 "If user does not confirm the update of an element, then the UI does not reset back to the old value."
Modify an element -> "Do you want to update" -> No -> The UI has to change the value back to the original value

[2020-09-21 11:05] DavidFeldhoff opened #44 "If a new Scenario is created then the ID 1 is handed over to the backend"
Scenario (1) is created even if there's already one

[2020-09-21 11:16] DavidFeldhoff opened #45 "Add new Scenario -> Add Element -> Error after second scenario"
If two scenarios are added and in both scenarios an element is added then there's an error.

[2020-09-21 11:19] DavidFeldhoff opened #46 "Add new Given Element is inserted wrong when no Initialize-function exists"
If there's no Initialize-Function then the first given element is added at the wrong position

[2020-09-24 04:56] lvanvugt commented on #39
@DavidFeldhoff no commits related to this issue?

[2020-09-24 04:56] lvanvugt commented on #38
@DavidFeldhoff no commits related to this issue?

[2020-09-24 04:58] DavidFeldhoff commented on #39
Sorry, haven't linked that appropriately. Will fix that later

[2020-09-25 12:34] lvanvugt commented on #16
Tested with test case 0061 and 0062 for #27

[2020-09-25 12:34] #16 closed

[2020-09-25 12:35] lvanvugt commented on #6
While now working on more details (see #27, #28, #30, #38, #39 and beyond) this can be closed.

[2020-09-25 12:35] #6 closed

[2020-09-25 12:47] lvanvugt commented on #43
See test scenarios 0046, 0047, and 0048.

Belonging to #28.

[2020-09-25 12:49] lvanvugt commented on #44
Test scenario 0055 belonging to #38.

[2020-09-25 13:01] lvanvugt opened #47 "If .al (object) file is in edit mode (not yet saved) TestScriptor cannot not be in sync"
Can we   make TestScriptor to ask user to save file first?

[2020-09-25 13:02] lvanvugt opened #48 "Update TestScriptor page when manually adding a GIVEN/THEN"
Can we make TestScriptor page to automatically update/refresh?

[2020-09-25 13:05] lvanvugt opened #49 "If no number is provided for scenario TestScriptor is lost"
... i.e. does not recognize all scenarios.

Can we make a workaround for this (in settings)?

[2020-09-25 13:07] lvanvugt opened #50 "Focus after adding given using "+ Give" control"
Can we   get focus on new given text box, so user can immediately start entering text?

[2020-09-25 13:11] lvanvugt opened #51 "Rename when Given/When/Then helper function do not follow settings prefix"
In case a Given/When/Then helper function does not contain the prefix as defined in the settings, a rename of Given/When/Then does not follow settings prefix

### Example
If to "Valid Given" belongs helper function MakeValidGiven, this should be renamed to MakeRenamedValidGiven, instead a call to CreateRenamedValidGiven is created (if **atddTestScriptor.prefixGiven** is set to _Create_).

### Test

[2020-09-29 05:21] lvanvugt commented on #19
Will be picked with scenarios for FEATURE.

[2020-09-29 05:21] #19 closed

[2020-09-29 05:25] lvanvugt opened #52 "Setting maxLengthOfDescription is not taken into account"
The setting maxLengthOfDescription is not taken into account when user defines (or renames) a Given, When or Then. Given, When or Then length can be anything.

### Test Scenarios

No. | Feature | Scenario
-- | -- | --
0008 | Adding Given | Max length of Given description
0009 | Adding Then | Max length of Then   description

in [atdd-test-scenarios-and-results.xlsx](https://github.com/fluxxus-nl/A

[2020-09-29 05:35] lvanvugt opened #53 "Removing Given or Then does not update TestScriptor page"
When removing a Given or Then, using the _garbage can_ control, does not update TestScriptor page.

### Test Scenarios
No. | Feature | Scenario
-- | -- | --
0030 | Removing Given | Remove Given step 3a
0032 | Removing Given | Remove Given step 3b
0037 | Removing   Then | Remove   Then step 3b

in [atdd-test-scenarios-and-results.xlsx](https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension

[2020-09-29 05:38] lvanvugt opened #54 "Removing only Given makes Scenario disappear"
Removing only Given from a scenario makes the scenario disappear from the TestScriptor page.

### Test Scenarios
No. | Feature | Scenario | Note
-- | -- | -- | --
0030 | Removing Given | Remove Given step 3a | Need to run 0028 and 0029 first
0032 | Removing Given | Remove Given step 3b | Need to run 0028 and 0029 first

in [atdd-test-scenarios-and-results.xlsx](https://github.com/fluxxus-nl/ATDD.T

[2020-09-29 05:46] lvanvugt commented on #51
As discuss last Monday a solution could be to add extra settings to define other allowed prefixes.

- atddTestScriptor.**prefixGiven**, atddTestScriptor.**prefixWhen** and atddTestScriptor.**prefixThen** define the prefix used when creating new helper functions (as already is the case
- three new settings are added that are collections in which the user can define what other prefixes are allowed t

[2020-09-29 06:00] lvanvugt opened #55 "Error occurs when removing a Given/Then with non-alpabethic or non-numerical characters"
An error occurs when removing a Given/Then with non-alpabethic or non-numerical characters:

### Test Scenarios
No. | Feature | Scenario
-- | -- | --
0040 | Removing Given | Remove Given with non-alpabethic   or non-numerical characters 1a
0041 | Removing Given | Remove Given with   non-alpabethic or non-numerical characters 1b
0042 | Removing Then | Remove Then with non-alpabethic or non-numerica

[2020-09-29 06:05] lvanvugt commented on #22
## Meeting September 28, 2020

Scenarios #27, #28, #30, #38 and #39 have been implemented.

- @DavidFeldhoff
  - refactored code to replace "C# part"
  - **todos**
    - fix bugs reported by @lvanvugt
- @martonsagi
  - fix #43 (prio 1)
  - fix #52 (prio 2)
- @lvanvugt
  - has tested all features so far, based on the 62 ATDD scenarios as defined in [atdd-test-scenarios-and-results.xlsx](https://git

[2020-09-29 06:10] lvanvugt opened #56 "Rename of second duplicate Given goes wrong"
Rename of second duplicate Given results in rename of helper function call for first Given,

### Test Scenarios
No. | Feature | Scenario | Note
-- | -- | -- | --
0052 | Updating Given | Rename duplicate Given step 2 | Need to run 0051 first
0054 | Updating Then | Rename duplicate Then step 2 | Need to run 0053 first

in [atdd-test-scenarios-and-results.xlsx](https://github.com/fluxxus-nl/ATDD.Test

[2020-09-29 17:12] DavidFeldhoff commented on #49
Sorry. I closed it again with the git messsage ^^. Feel free to test :)

[2020-09-29 17:14] DavidFeldhoff commented on #50
You mean in the UI? In that case I would ask Marton

[2020-09-29 17:17] DavidFeldhoff commented on #51
Which solution do you prefer? I think prefixGiven with prefixGivenHistory is more intuitive to understand as it's clear that all new functions will get the prefixGiven. But if a helper function already has a prefix of prefixGivenHistory, then this will be used to rename

[2020-09-29 17:37] lvanvugt commented on #50
Yes, that's why I wrote _on new given text box_.

But as you can see this is labeled **version B** so not current priority. Have assigned it to @martonsagi.

[2020-09-29 17:38] lvanvugt commented on #51
Agree.

[2020-09-29 18:01] DavidFeldhoff commented on #54
I couldn't reproduce that, @lvanvugt. How did you proceed?

[2020-09-29 18:08] lvanvugt commented on #54
See the test scenarios table above (just added the **Note** column. Did you perform these test sequences?

**Note**
These all should be operated on the test codeunit used (i.e. Given) in scenario 0001: codeunit 50100 ATDDTestScriptorTestObjectFLX

[2020-09-29 18:09] DavidFeldhoff commented on #55
Couldn't reproduce this one either.. 😕 How did you test?
https://1drv.ms/u/s!ApL7yYkbo0jQg5tAYvVNlnxt6BJEjg?e=zIdJJ6

[2020-09-29 18:12] lvanvugt commented on #55
Your not using my test scenarios, i.e. with the [test-project](https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/tree/master/test/test-project).
Looking at your gif the difference is that the test codenit the test scenarios above are using does not have an Initialize.

[2020-09-29 18:49] DavidFeldhoff commented on #55
Ah okay, yes you're right.
I see now what you did there. You used regex-characters inside the given element and I didn't escaped everyone. That was a mean one 😆 Nice 👍
But I got the message also in another case: If I renamed something and did **not** confirm that it should be renamed. Then the _given_ in the ATDD and the _given_ in the code doesn't match anymore. If you then update it once again,

[2020-09-29 19:07] DavidFeldhoff commented on #56
@martonsagi I need your help on this.
We have two givens with the same name
// [GIVEN] Valid Given
CreateValidGiven();
// [Given] Valid Given
CreateValidGiven();

Now I rename the second given in the ATDD, but I'm scanning the Tests by name. In this case a index would be better. How should we proceed? Should we switch to using an index instead of the name?
Currently we have OldValue and NewValue i

[2020-09-29 19:10] DavidFeldhoff commented on #54
Reminder to myself: It's because of the missing Initialize. But will stop for today and go ahead the next days

[2020-09-29 19:12] DavidFeldhoff commented on #55
@lvanvugt I'll assign it to you for testing. You find the vsix in the pipeline

[2020-09-29 19:12] martonsagi commented on #56
@DavidFeldhoff The UI part keeps track of changed item's array index to perform ui updates. It's possible to send you that value as well.

https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/blob/master/web-ui/src/types.ts#L31

[2020-09-29 19:20] DavidFeldhoff commented on #56
Yes, I think that's a good idea. If you send it to me, I'll change my logic to use the ID instead of the OldValue Property. After my changes we can obsolete the OldValue Property in my eyes

[2020-09-29 19:22] martonsagi commented on #56
Please keep the OldValue for now. I may need that for reverting values on UI.

[2020-09-29 19:23] DavidFeldhoff commented on #56
Makes sense

[2020-09-29 19:48] DavidFeldhoff commented on #22
I like reading your summary. Especially the holiday part is music to my ears 😄🙂

[2020-09-30 06:06] lvanvugt commented on #55
Thanx.

**Updated** scenarios 0040, 0042

And tested and OK now.

And yes the error message is much clearer.

[2020-09-30 07:14] #55 closed

[2020-09-30 09:15] lvanvugt commented on #49
Tested and OK.

I tested with multiple unnumbered scenarios and works fine. Underlying test codeunits are now part of the test-project.

[2020-09-30 09:15] #49 closed

[2020-09-30 09:33] lvanvugt opened #57 "Ribbon actions disappear when TestScriptor page part becomes (too) narrow"
See what happens with action on  ribbon when TestScriptor page part becomes (too) narrow.

![RibbonActionsDisappear](https://user-images.githubusercontent.com/18466198/94668757-b53d8500-0310-11eb-8eb1-5785b6fcceaf.gif)

@martonsagi can you pick this up?

[2020-09-30 10:18] lvanvugt opened #58 "Adding new scenario often adds it to feature that is last in TestScriptor listing"
When I am adding a new scenario it often adds it to feature that is last in TestScriptor listing and not to the feature that the selected line belongs to.
But as you can see in the video it does it right in some instances (second and last try in video).

![AddingNewScenario](https://user-images.githubusercontent.com/18466198/94673427-02245a00-0317-11eb-846f-b6781b5da2f2.gif)

[2020-09-30 10:26] DavidFeldhoff commented on #58
@martonsagi sends me to which feature the scenario should be added. So I would like to have him looking at it

[2020-09-30 18:09] DavidFeldhoff commented on #54
It's fixed. It happened not only if we remove the last given element. It happened always then, if the scenario comment was directly "connected" (no empty line or other statement between them) to the first given element and the first one was deleted. I'll assign it to you for testing, Luc

[2020-09-30 18:11] DavidFeldhoff commented on #48
@martonsagi should I add a filewatcher or have you already implemented something for that?

[2020-09-30 18:13] DavidFeldhoff commented on #47
What do you mean? So the .al file is in a dirty state (=has changes), but on the UI I change some element? And then there should be a question if the user wants to save the file first?

[2020-09-30 19:07] lvanvugt commented on #47
Yes!

[2020-09-30 19:29] lvanvugt commented on #54
Tested and OK

[2020-09-30 19:29] #54 closed

[2020-10-01 17:35] DavidFeldhoff commented on #47
Hm.. would be possible. But when should that happen? If he selected the scenario?

I think it would be better if we just get the current (maybe dirty) content of the file on selecting the scenario. And if the user edits the current scenario, then the ATDD could be updated - Then the ATDD is always in sync.

But I don't know how much work that would be for Marton.. but I think that would be the bet

[2020-10-01 17:36] DavidFeldhoff commented on #47
Hm.. would be possible. But when should that happen? If he selected the scenario?

I think it would be better if we just get the current (maybe dirty) content of the file on selecting the scenario. And if the user edits the current scenario, then the ATDD could be updated - Then the ATDD is always in sync.

Unfortunately I don't know how much work that would be for Marton. Could be that that chang

[2020-10-02 15:40] lvanvugt commented on #47
Makes sense.

@martonsagi ?

[2020-10-02 16:10] DavidFeldhoff commented on #46
This one is fixed, I'll assign it to you for testing :)

[2020-10-02 16:13] lvanvugt commented on #46
Keep them coming. ;-)

[2020-10-02 16:28] DavidFeldhoff commented on #45
@martonsagi I think this one should be fixed by you. The error is that I have to select the scenario in the ATDD before I add values, because otherwise the UI doesn't send an FSPath.

In the gif you see my first attempt where I select the scenario previously once again - that succeeds.
After that I just enter an element directly - that fails because the fspath is empty.

I fixed it for now as I'm

[2020-10-02 16:33] DavidFeldhoff commented on #56
@martonsagi can you please assign this task back to me after you've implemented that you're sending the array index to me?

[2020-10-02 16:39] DavidFeldhoff commented on #39
fixed in commit
https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/commit/4bd3fbfc90b63246f5c66e7e2de9f89b1fe44088

[2020-10-02 16:43] DavidFeldhoff commented on #39
..Forgot the removal of HandlerFunctions - I hope I can add that this evening

[2020-10-02 16:59] DavidFeldhoff commented on #39
hm.. already implemented that as well in the commit above, but I'm using there the gotodefinition provider of my al-codeactions there, so I added that as dependency.
@lvanvugt The stage is yours for testing :)

[2020-10-02 17:05] DavidFeldhoff commented on #38
Fixed in
https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/commit/4bd3fbfc90b63246f5c66e7e2de9f89b1fe44088#diff-f267418653192133529f152c33dd6450R21
I'll assign it to you for testing Luc, as my tasks are finished so far. If you find some bugs: Keep them :)
No, if you find them, assign them to me, but I think the major part here is done, so it's better assigned to you, I think

[2020-10-02 17:06] DavidFeldhoff commented on #35
I'll assign this one to Marton as it belongs to the UI

[2020-10-02 17:08] DavidFeldhoff commented on #28
fixed here
https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/commit/4bd3fbfc90b63246f5c66e7e2de9f89b1fe44088#diff-f267418653192133529f152c33dd6450R145
Luc, I'll assign it to you for testing or closing. If you find some bugs I would suggest to create new issues for that

[2020-10-05 08:14] lvanvugt commented on #46
Tested and OK.
 @DavidFeldhoff , we need however to extend the ***Add Scenario*** scenario as it needs to add the _Initialize_ helper function when it does not exist yet. Will update #38.

[2020-10-05 08:14] #46 closed

[2020-10-05 08:16] lvanvugt commented on #38
@DavidFeldhoff as mentioned on #46 this scenario needs to be extended as the _Initialize_ helper functions needs to be added if it does not exist yet in the test codeunit. I will update the initial description of this post above (including the flowchart).

[2020-10-05 09:53] lvanvugt commented on #39
@DavidFeldhoff  tested and OK

[2020-10-05 10:03] lvanvugt opened #59 "Use Case: Moving Scenario"
At this very moment this _use case_ is out of scope as:

- TestScriptor page allows use to order the scenarios anyway they want
- This brings in a complexity that is to challenging now
- Current **workaround** is to edit the AL test codeunit
- In future version, when Excel ex/import will be included the Excel could be of help on doing this

[2020-10-05 10:06] lvanvugt opened #60 "Use Case: Updating Scenario"
The following flowchart shows the use case:

![Use Case (#60) - Updating Scenario](https://user-images.githubusercontent.com/18466198/99879741-fd8d6b00-2c0e-11eb-8b84-44fdffb46cbd.jpg)

## Exceptions
- Non-alphabetical or non-numerical characters should not be ported to test function name (see also #38)
- _Scenario description_ should not have unlimited length as AL function names have a max lengt

[2020-10-05 10:48] lvanvugt opened #61 "Use Case: Adding Feature"
The following flowchart shows the use case:

![Use Case (#61) - Adding Feature](https://user-images.githubusercontent.com/18466198/95072084-f36ce700-070a-11eb-8659-5e2c484fb92e.jpg)

## Exceptions
- Non-alphabetical or non-numerical characters should not be ported to test codeunit name
- As AL codeunit names have a max length of 30 characters we should restrict the length of _feature description_

[2020-10-05 12:07] lvanvugt commented on #39
@DavidFeldhoff: reopened as the settings have not been added yet.

[2020-10-05 12:08] lvanvugt opened #62 "Use Case: Removing Feature"
The following flowchart shows the use case:

![Use Case (#62) - Removing Feature](https://user-images.githubusercontent.com/18466198/95081853-78133180-071a-11eb-968b-1e5ceb5c7e92.jpg)

## Note
At this moment there is a one-to-one relation between a feature and a test codeunit. ATDD.TestScriptor cannot handle multiple features in one test codeunit. The consequence is that removing a feature is as s

[2020-10-05 12:58] lvanvugt opened #63 "Remove Save and Cancel controls from Feature pane"
The feature has _Save_ (green diskette) and _Cancel_ (red "do not enter"sign) controls that or not needed, so please remove them.

![image](https://user-images.githubusercontent.com/18466198/95082246-0e475780-071b-11eb-911a-392a6e226eed.png)

[2020-10-05 13:45] lvanvugt opened #64 "Use Case: Updating Feature"
At this very moment this _use case_ is out of scope as:

- Current **workaround** is to rename the AL test codeunit

[2020-10-05 13:54] lvanvugt commented on #15
Will be picked up with _Use Case: Adding Feature_ #61

[2020-10-05 13:54] #15 closed

[2020-10-05 14:04] lvanvugt opened #65 "Use Case: Copying Scenario"

[2020-10-05 14:05] lvanvugt commented on #5
Will be handled by _Use Case: Copying Scenario_ #65

[2020-10-05 14:05] #5 closed

[2020-10-05 14:41] lvanvugt opened #66 "Double-click in ATDD.TestScriptor should be disabled"
When double-clicking in ATDD.TestScriptor page the cell the double-click is acted on is made editable and the user can replace the text. This should be disabled!

![Double-click in ATDD TestScriptor should be disabled #66 20201005](https://user-images.githubusercontent.com/18466198/95094684-73ef1000-072a-11eb-8651-2cbdbc861baf.gif)

[2020-10-06 07:51] lvanvugt commented on #28
See attached bugs.

[2020-10-13 15:21] lvanvugt commented on #56
@martonsagi I reckon your code update does not fix the issue fully and that @DavidFeldhoff has to do his part?

[2020-10-13 15:23] lvanvugt commented on #57
Looks good!

[2020-10-13 15:23] #57 closed

[2020-10-13 15:27] lvanvugt commented on #58
Works fine right now, although the Scenario ID assignment seems some what strange. How is the ID determined? Seems not to be the next number. It is however unique. So closing this issue.

[2020-10-13 15:27] #58 closed

[2020-10-13 15:30] lvanvugt commented on #66
Fixed.

[2020-10-13 15:30] #66 closed

[2020-10-13 20:21] martonsagi commented on #58
Currently, I search for the latest Scenario ID for a Feature and add +1.

[code]

[2020-10-13 20:49] martonsagi commented on #43
I added the fix on UI side. @DavidFeldhoff: in order to this to work, I need you to send back message.ArrayIndex as well in the reponse. Currently it's undefined on the savechanges callback.

[2020-10-13 20:49] martonsagi commented on #52
Added the maxlength handling.

[2020-10-14 04:54] lvanvugt commented on #52
First quick test shows it's working fine.

[2020-10-14 07:05] martonsagi commented on #52
ATDD Window must be re-opened after changing settings in VSCode. It's by-design, settings are sent to webview on initial loading.

[2020-10-14 08:56] lvanvugt commented on #52
OK, clear. Will update test scenarios.

[2020-10-14 09:44] lvanvugt commented on #52
Tested and OK

### Test Scenarios

No. | Feature | Scenario
-- | -- | --
0008 | Adding Given | Max length of Given description
0009 | Adding Then | Max length of Then   description
0064 | Adding Given | Max length of Given description   by copying
0065 | Adding Then | Max length of Then   description by copying
0066 | Adding Given | Max length of Given description by typing 2
0067 | Adding Then |

[2020-10-14 09:44] #52 closed

[2020-10-15 05:13] DavidFeldhoff commented on #30
@lvanvugt I found a case which is not defined yet:
We're in the upper right corner in the flow chart. Given helper functino is called multiple times? No -> New helper function already exists? -> What to do? I can't rename the old one as there are two functions wit the same naming and parameters then. Should I switch to the new one then and ask the user if the old one should be deleted?

[2020-10-15 06:54] lvanvugt commented on #30
@DavidFeldhoff great catch. I would say, leave the old one. Would that make sense?

[2020-10-15 09:54] DavidFeldhoff commented on #30
So we would change the procedure call to use the existing one and leave the old procedure as it is (which won't have any references then)?

Or should we just throw an error in this rare case that the user should solve it on his own as it could be that there's no right or wrong

[2020-10-15 10:00] lvanvugt commented on #30
OK, misunderstood it first. Your latter suggestion makes sense. Let's do that.

[2020-10-24 10:06] lvanvugt commented on #27
All tests seem to run fine. Retest will be done later when everything needs to be tested again.

[2020-10-24 10:06] #27 closed

[2020-10-24 12:15] DavidFeldhoff commented on #56
That's working now with the latest commit. I'll assign it to you for testing

[2020-10-24 17:17] DavidFeldhoff commented on #43
@martonsagi I looked at it and honestly I didn't understand what you mean as you use the same messageUpdate in the savechangeEventHandler which you're sending to me (https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/blob/master/web-ui/src/app.ts#L47).. So I didn't changed anything on the "Backend" site for now, but I made a small change on the UI-site (see commit which I just pushed)

[2020-10-26 07:36] lvanvugt commented on #22
## Meeting October 26, 2020

- @lvanvugt will test latest changes form @DavidFeldhoff  tomorrow

- @martonsagi will fix asap the five issues on his name (in this order please ;-)
  - #43 (**Update 20201101**: made fix, assigned to @lvanvugt)
  - #44 (**Update 20201101**: made fix, assigned to @lvanvugt)
  - #45 (**Update 20201101**: made fix, assigned to @lvanvugt)
  - #53 (**Update 20201101**: ma

[2020-10-27 15:03] lvanvugt commented on #56
And tested and OK now.

[2020-10-27 15:03] #56 closed

[2020-10-27 15:23] lvanvugt opened #67 "Rename of first Given/When/Then goes wrong"
Rename of first Given results in error:

`ArrayIndex not passed`

### Test Scenarios
No. | Feature | Scenario
-- | -- | --
0016 | Updating Given | Rename "Valid Given"   to "Renamed Valid Given"
0020 | Updating   When | Rename   "Valid When" to "Renamed Valid When"
0024 | Updating Then | Rename "Valid Then" to   "Renamed Valid Then"

in [atdd-test-scenarios-and-results.xlsx](https://github.com/flu

[2020-10-27 15:35] lvanvugt opened #68 "Then control disappears from ATDD.TestScriptor page when validating new Then"
When adding a new Then on ATDD.TestScriptor and validating It (by pressing Enter, Tab or ...) the **Then control** disappears.

The Then clause, however, is added to the .al object (which is OK)

### Test Scenarios
No. | Feature | Scenario
-- | -- | --
0053 | Updating   Then | Rename   duplicate Then
0054 | Updating Then | Rename duplicate Then step 2

in [atdd-test-scenarios-and-results.xlsx](htt

[2020-10-27 15:40] lvanvugt commented on #30
Retest, but two news bugs appear (see above).

**Update 20201029**
One to go: #68

[2020-10-28 07:26] DavidFeldhoff commented on #61
@martonsagi
- Hardcode the 30 characters limitation in the Feature description
- Enable to add a new feature and send the following values in the messageUpdate: State = New, Type = Feature, newValue = Feature description entered by the user.

I'll add a new file on my own and  add it under the folder specified in the settings.

[2020-10-28 07:28] DavidFeldhoff commented on #38
@martonsagi
- Use setting to limit scenario description in UI

[2020-10-28 11:52] DavidFeldhoff commented on #67
It's fixed in the latest commit. Luc, I'll assign it to you for retesting. The #53 is still there, but the element is removed correctly.

[2020-10-28 12:00] DavidFeldhoff commented on #38
Short note: This one is nearly ready for testing. After #44 is solved, it should work just fine.

[2020-10-28 17:11] DavidFeldhoff commented on #39
Hi Luc, feel free to test this one, it's ready and works as well with the settings.

[2020-10-28 18:27] lvanvugt commented on #39
Tried to use "atddTestScriptor.removalMode" (implemented with commit 00fb700) , but it's not there. I can not assign it in my settings.json.

[2020-10-28 18:58] lvanvugt commented on #39
Tested and added some extra scenarios -> OK

[2020-10-28 19:02] lvanvugt commented on #68
Tested and OK

[2020-10-28 19:02] lvanvugt commented on #68
Tested and OK

[2020-10-28 19:02] lvanvugt commented on #67
Tested and OK

[2020-10-28 19:03] #67 closed

[2020-10-28 20:09] DavidFeldhoff commented on #60
@martonsagi I'm done with my changes on this one, but there are some small issues which need to be fixed by you:
- "Are you sure you want to update this scenario?" -> No -> New value stays in textbox (or it's just a refreshing issue as if i reopen the scenario it has the old value again)
- I'm triggered on each keypress. The given/when/thens instead are only triggered if I leave the field. Could y

[2020-11-01 20:40] lvanvugt opened #69 "Edit Scenario pane: Feature control should be non-editable"
The **Feature** control on the _Edit Scenario_ pane should be non-editable. It is now editable which does not make sense.

[2020-11-01 22:07] martonsagi commented on #43
I've fixed the issues and changed the ui's backendservice to return the final values instead of eventdata.Data member.

[2020-11-01 22:08] martonsagi commented on #44
Fixed the ID calculation, now it works per feature, giving latest number for a specific feature.

[2020-11-01 22:08] martonsagi commented on #44
It should also unblock testing of #38

[2020-11-01 22:09] martonsagi commented on #45
I think the issue was that newly created Scenario did not have FsPath on UI. So, I changed the VSCode parts a bit to send back the final FsPath to the UI.
This way it works and seemingly fixed other strange issues, such as #68

[2020-11-01 22:10] martonsagi commented on #53
It should work now after fixes.

[2020-11-01 22:19] martonsagi commented on #60
Value update should be ok now. Keypress triggers have been extended with a reasonable timeout to be triggered again.

[2020-11-01 22:20] martonsagi commented on #63
Buttons have been removed, however there is now "escape" from this window now. Cancel button did that work before.
I changed the "Manage Features" button into a toggle, so clicking on it will show/hide feature list.

[2020-11-01 22:21] martonsagi commented on #68
It should be fixed by another fix for #45

[2020-11-01 22:21] martonsagi commented on #69
How about re-organization between Features (codeunits)? Is it out-of-scope for now?

[2020-11-02 06:27] lvanvugt commented on #69
Yes. When creating a new Feature a new .al file will be created with a new Scenario (test function)

[2020-11-02 06:39] lvanvugt commented on #22
## Meeting November 2, 2020

(See a number of updates above)

### Status
- @martonsagi
  - #62
  - #69
  - #70
  - #71
  - #72
  - #73
  - #74

- @lvanvugt
  - retest the whole feature as all known things have been fixed

### Goal
The goal is **still?** to have half of November to get a beta version out that allows the user to do the most important basic things
- Add, Rename, Update Given/When/The

[2020-11-02 08:03] DavidFeldhoff commented on #60
@martonsagi it works much smoother now, thanks!
But the first issue I mentioned in my previous post still exists:
Currently:
Change Scenario -> Do you want to update?  -> No -> The new value (which wasn't confirmed) remains in the field.
Expected:
Change Scenario -> Do you want to update?  -> No -> The old value is placed again in the textbox

[2020-11-02 08:24] DavidFeldhoff opened #70 "Add new Scenario and click on Scenario title -> ATDD does not jump to the scenario declaration"
Instead it jumps to the beginning of the file.

![CursorPositionOnScenarioClick](https://user-images.githubusercontent.com/53570297/97845642-1c25d380-1ced-11eb-8f13-3191326c06ec.gif)

[2020-11-02 08:28] DavidFeldhoff opened #71 "Update Scenario -> Confirm? No -> New value is still persisted"
![ScenarioNewValueIsPersisted](https://user-images.githubusercontent.com/53570297/97846012-ac641880-1ced-11eb-921e-93255d443737.gif)

[2020-11-02 08:28] DavidFeldhoff commented on #60
I made it explicit here #71

[2020-11-02 08:44] DavidFeldhoff opened #72 "Open ATDD -> Select Scenario with ID -> Select Scenario without ID -> Error "Unexpected type that's modified""
@martonsagi : Don't know why, but I get triggered in that case that Type "ScenarioID" is modified.
I don't understand that as nothing is changed.
Furthermore we use "ScenarioName" if something is changed and never ScenarioID which is why I'm throwing the error "Unexpected type that's modified".
Can you have a look at that?
![UnexpectedTypeThatsModified](https://user-images.githubusercontent.com/53

[2020-11-02 09:39] lvanvugt commented on #62
UI part needs to be finished.

[2020-11-02 09:41] lvanvugt commented on #70
It works fine when reopening the ATDD page. The issue occurs when creating a new Scenario

[2020-11-02 09:57] DavidFeldhoff opened #73 "Select Feature without ID's -> Add new Scenario once (works fine) -> Add new scenario twice (NaN)"
![Scenario NaN](https://user-images.githubusercontent.com/53570297/97854709-200c2280-1cfa-11eb-81c3-2b9e9caba45a.gif)

[2020-11-02 10:08] DavidFeldhoff opened #74 "Open ATDD -> Add Scenario -> Always starts with ID 1 (seems it's not initialized)"
It seems the list used for determinig the ID is not initialized. For the first time adding a scenario that's no big deal (even the ID is used twice then which is also not nice), but the second one will result in a duplicate scenario (see attached gif)
![NewScenario1](https://user-images.githubusercontent.com/53570297/97855732-7cbc0d00-1cfb-11eb-86da-9f87fc5597d3.gif)

[2020-11-02 10:45] lvanvugt opened #75 "Disable Scenario ID control"
Scenario ID control should be disabled for now as there is no use case for.

### BTW
It is called _# ID_. Makes sense to remove the # from it as it does not add any meaning to the name.

[2020-11-02 10:48] lvanvugt opened #76 "Use Case: (Re)Numbering Scenario"
Currently out of scope with #75

ID control on Scenario pane could be used to (re)number the scenario. Let's address this in a next release.

[2020-11-02 10:52] lvanvugt opened #77 "Performance: Multi-Projects Workspace"
This is a reminder issue. We need to test the ATDD.TestScriptor in big multi-projects workspace:

- Is **Project** column shown?
- How fast does ATDD.TestScriptor page open
- In what test project is a new Feature created in?
- ...

It might show that we need a drop on the ATDD.TestScriptor page that allows to use to focus on one test project and select the one needed.

[2020-11-09 07:18] DavidFeldhoff opened #78 "Make Feature-Tag optionally"
If a feature comment is already inside the onRun-Trigger or somewhere else in the document then the feature comment could be removed from the test-method

[2020-11-09 07:52] lvanvugt commented on #22
## Meeting November 9, 2020

### Status
- @martonsagi; hadn't had time so far to fix the below, but will work on it today (picking up issues reported by @DavidFeldhoff  first)
  - #62
  - #69
  - #70
  - #71
  - #72
  - #73
  - #74
  - #75

- @lvanvugt
  - did not start testing yet (due to time shortage)
  - will retest the whole feature after fixes from @martonsagi

- @DavidFeldhoff
  - #75 (just

[2020-11-15 09:38] martonsagi commented on #62
@DavidFeldhoff I changed the UI parts, but somehow the backend does not find the Scenario function to be deleted and I get undefined errors back. Maybe it's my test project, can you check it?

Previously, I sent the NewValue instead of OldValue, but I still get the error after fixes.

[2020-11-15 09:41] martonsagi commented on #69
OK, it is now a read-only field. I kept the original select code for later.

[2020-11-15 09:54] martonsagi commented on #70
Correct MethodName is now sent back to the UI after creation. That was missing for proper navigation.

[2020-11-15 10:27] martonsagi commented on #72
ID input has been disabled and replaced with a div tag. You will not get updates in this case anymore.
This reason for this was that the original undefined value had changed to "" string in the input that triggered a change event.

[2020-11-15 10:27] martonsagi commented on #73
Can't reproduce it after making fixes to #74, I suppose that fixed this as well.

[2020-11-15 10:28] martonsagi commented on #74
Made some fixes, worked for me afterwards.

[2020-11-15 10:28] martonsagi commented on #75
OK, I renamed and disabled it.

[2020-11-15 10:29] martonsagi commented on #71
I'm investigating this, no conclusive results yet.

[2020-11-15 18:39] DavidFeldhoff commented on #62
I'll have a look at it tomorrow, thank you.

[2020-11-16 09:42] lvanvugt commented on #22
## Meeting November 16, 2020

### Status
- @martonsagi
  - has fixed all bugs that were assigned to him
  - had however issue with the loading of TestScriptor page: very slow
    - we all might want to test this using this project https://github.com/dynasist/bc-departments

- @lvanvugt
  - will now start retesting all things
  - will create an icon
    - https://code.visualstudio.com/api/reference

[2020-11-21 11:17] lvanvugt commented on #53
Tested and OK

[2020-11-21 11:17] #53 closed

[2020-11-21 11:18] lvanvugt commented on #28
Tested all existing scenarios and OK

[2020-11-21 11:18] #28 closed

[2020-11-21 11:36] lvanvugt commented on #51
@DavidFeldhoff , I think we need to tackled this in Version A. Could you pick this up?

[2020-11-21 11:40] DavidFeldhoff commented on #62
@martonsagi I tested it with your bc-department project, but I couldn't reproduce the errors. Can you please give me some more detailed repro steps to figure out the issue?

[2020-11-21 11:47] DavidFeldhoff commented on #70
Tested and OK

[2020-11-21 11:47] #70 closed

[2020-11-21 11:48] lvanvugt opened #79 "Rename of Then goes wrong"
Rename of (any) Then results in error:

`Unexpected type that's modified`

No. | Feature | Scenario
-- | -- | --
0024 | Updating Then | Rename "Valid Then" to   "Renamed Valid Then"
0025 | Updating Then | Rename "Valid   Then" to "Renamed Valid Then" step 2a
0026 | Updating Then | Revert Rename of Then
0027 | Updating Then | Revert Rename of Then   step 2
0048 | Updating Then | Rename "Valid Then"

[2020-11-21 11:49] DavidFeldhoff commented on #72
Tested and OK

[2020-11-21 11:49] #72 closed

[2020-11-21 11:53] DavidFeldhoff commented on #73
I still have the issue. But I have it only when I start adding the two scenarios from a scenario which has no ID (like in the gif above).
If I start creating both scenarios from a scenario which has an ID, then everything works fine.
The project I'm using for testing is this one:
https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/tree/master/test/test-project

[2020-11-21 11:58] DavidFeldhoff commented on #74
I still get the issue.
It's **only** if I start the ATDD page and then, as my first action on the ATDD page, I add a scenario.
I tested with this file:
https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/blob/master/test/test-project/src/codeunit/TestObjectWithUIHandlerFLX.Codeunit.al
There's only one scenario with ID 5. If I add my first scenario, it's added with ID 1. If I add a seco

[2020-11-21 12:14] lvanvugt commented on #30
Retest, but new bug appears (see above).

Update 20201121
One to go: #79

[2020-11-21 12:45] lvanvugt opened #80 "TestScriptor not updated when removing Scenario from test codeunit with 1 scenario"
When removing Scenario (and its helper functions) from test codeunit with 1 scenario, TestScriptor not updated. So extinct scenario still is displayed in TestScriptor page.

No | Feature | Scenario
-- | -- | --
0056 | Removing Scenario | Removing Scenario
0057 | Removing Scenario | Removing Scenario step 2a
0058 | Removing Scenario | Removing Scenario step 3a

in [atdd-test-scenarios-and-results.x

[2020-11-21 14:07] lvanvugt commented on #39
Reopened due to #80.

[2020-11-21 14:12] lvanvugt commented on #38
Tested and OK.

[2020-11-21 14:12] #38 closed

[2020-11-21 14:15] lvanvugt commented on #43
Tested and OK

[2020-11-21 14:15] #43 closed

[2020-11-21 14:15] lvanvugt commented on #44
Tested and OK

[2020-11-21 14:15] #44 closed

[2020-11-21 14:27] lvanvugt commented on #45
Tested and OK

[2020-11-21 14:27] #45 closed

[2020-11-21 14:29] lvanvugt commented on #63
Tested and OK

[2020-11-21 14:29] #63 closed

[2020-11-21 14:30] lvanvugt commented on #68
Tested and OK

[2020-11-21 14:30] #68 closed

[2020-11-21 14:31] lvanvugt commented on #69
Tested and OK

[2020-11-21 14:31] #69 closed

[2020-11-21 14:31] lvanvugt commented on #75
Tested and OK

[2020-11-21 14:31] #75 closed

[2020-11-21 15:19] lvanvugt opened #81 "Changing suggested duplicate rename to unique value updates wrong test function/scenario"
Once you rename a scenario **A** to an already existing scenario **B** (throwing an error) and than changing your new scenario name  (for **A**) to a unique one it's not the original test function **A** that's updated, but the one that already existed, i.e. **B**.

No | Feature | Scenario
-- | -- | --
0083 | Updating Scenario | Rename to already existing   scenario name
0084 | Updating Scenario |

[2020-11-21 17:37] lvanvugt commented on #61
@DavidFeldhoff, it seems to me that this _Use Case: Adding Feature_ is far from ready.

When adding a new feature in **Features pane**, by creating a new text box and entering a name it:
- an extra control with same descriptions is appearing
- the codeunit created:
  - does have id 0 (would expects it to from id range in app.json
 - is not formatted, cannot be formatted, and has a lot of unwanted

[2020-11-21 17:56] DavidFeldhoff commented on #79
Hm.. i tested if the value is Given, When or When - find the bug :)
I changed it - feel free to test

[2020-11-21 18:03] DavidFeldhoff commented on #80
@lvanvugt : Sorry, I cannot reproduce that. For me it works fine. See attached gif of how I proceeded (basically I just used the steps provided in 56, 57 and 58)
![Delete only scenario](https://user-images.githubusercontent.com/53570297/99884150-28d28300-2c2c-11eb-94be-525277531bbe.gif)

[2020-11-21 18:07] DavidFeldhoff commented on #81
@martonsagi What should we do here? I think it would be best if - in case of an error - the old value is placed again in the textbox. Otherwise I don't excatly know how we should proceed. Or we give each scenario an internal ID which is unique (as the ID the User types in is optional)

[2020-11-21 21:12] martonsagi commented on #81
@DavidFeldhoff I think the issue might be with the MethodName, not Scenario ID.
As a recent change, MethodName is also sent back to the UI to make the File navigation work.

Is it possible that the MethodName is sent back before the error message appear? If so, the UI may send you back the wrong methodname on the second modification.

[2020-11-21 23:56] DavidFeldhoff commented on #81
If I send you the new value back which is responsible for the error, then I've still the issue that the scenario name exists now twice, so I wouldn't know which scenario I should update on the second modification. Or did I misunderstood you?

[2020-11-22 07:28] lvanvugt commented on #22
## Meeting November 23, 2020

### Status
- **Closed** Use Cases
  - #27 (Adding Given-When-Then)
  - #28 (Removing Given-When-Then)
  - #38 (Adding Scenario)
  - #39 (Removing Scenario)

- **Open** Use Cases
  - #30 (Updating Given-When-Then)
  - #60 (Updating Scenario)
  - #61 (Adding Feature)
  - #62 (Removing Feature)

- @martonsagi
  - fixed bugs (partly tested and OK)
  - **open** #71, #73, #

[2020-11-22 07:33] lvanvugt commented on #79
Thanx, and sorry had added wrong test scenarios. Corrected and added right list.

[2020-11-22 07:40] lvanvugt commented on #79
Tested and (this) error fixed. Scenario `0049 | Updating Then | Rename prefix` has still bug #51.

[2020-11-22 07:40] #79 closed

[2020-11-22 07:45] lvanvugt commented on #80
_Loud and clear_. Reran and seeing the same as you do.
Could it have been that you have code in your branch that is not in master, @DavidFeldhoff ?

[2020-11-22 07:48] #80 closed

[2020-11-22 07:51] lvanvugt commented on #80
Closed #39 as all is OK now.

[2020-11-22 07:52] lvanvugt commented on #39
Closed as #80 cannot be reproduced.

[2020-11-22 08:01] DavidFeldhoff commented on #80
No, I pushed already all changes related to this.

[2020-11-22 10:09] DavidFeldhoff commented on #61
Hi Luc, I agree there were some issues. I fixed it on the backend-site, but the extra control with the same description has to be fixed by @martonsagi
Marton, can you have a look at it?
And regarding the object ID: I added a solution which is working for now, but I'd like to add a API to the extension of Andrzej (AZ AL Dev Tools). He has a more robust solution to get the next codeunit ID for his w

[2020-11-22 10:47] DavidFeldhoff commented on #61
Maybe one more info: in the latest commit I pushed changes that worked in my easiest tests, but I haven't tested it yet enough to say it has a "ready" status ;)
But I still pushed the changes as Marton can step in now to fix the other bug.

[2020-11-22 11:03] DavidFeldhoff commented on #51
Changes pushed, but I've one question.
Let's say I have the prefix "Create" and have two procedures
CreateValidGiven
CreateValidGiven2

[2020-11-22 11:11] DavidFeldhoff commented on #51
Changes pushed, but I've one question:
Let's say I have the prefix "Create" and have two elements:
- Valid Given
- Valid Given 2

That means I have to helper functions:
- CreateValidGiven
- CreateValidGiven2

Now I change the prefix to "Make" and move the "Create" to the historical prefixes.
Then I rename the element "Valid Given" to "Valid Given 2". What should happen?
I think it's more straight

[2020-11-22 11:16] DavidFeldhoff commented on #77
To the question: In what test project is a new Feature created in?
I'd like the drop down as well. Currently we have a setting (atddTestScriptor.testDirectory), but if we have two test projects inside a workspace this setting wouldn't be enough. Therefore it'd be great if we always only focus on one project inside the multi-root workspace and that Marton sends me which project the user currently h

[2020-11-22 11:19] lvanvugt commented on #51
I would like to go for the latter: _there was already a procedure to a "Valid Given 2" element and that that should be used_

Appreciated ;-)

[2020-11-22 11:21] lvanvugt commented on #77
Agree.

@DavidFeldhoff , is there already something to test here?

[2020-11-22 12:02] lvanvugt commented on #78
@DavidFeldhoff , may reopen and put in on my name to (write a) test (for it)?

[2020-11-22 12:35] DavidFeldhoff commented on #51
Okay, I changed it.

[2020-11-22 12:36] DavidFeldhoff commented on #77
I tweaked already a little bit.
But I guess I could take another step which should speed up everything a little bit more

[2020-11-22 12:38] DavidFeldhoff commented on #78
For sure, feel free :)

[2020-11-28 09:19] lvanvugt commented on #51
@DavidFeldhoff, I like the solution for

with the dialog to the user asking whether to _Keep old_ or _Switch to new_.

[2020-11-28 09:30] #51 closed

[2020-11-28 09:33] lvanvugt commented on #30
As #79 was retested and found OK this Use Case is ready

[2020-11-28 09:33] #30 closed

[2020-11-28 12:58] lvanvugt commented on #22
## Meeting November 30, 2020

### Status
- **Closed** Use Cases
  - #27 (Adding Given-When-Then)
  - #28 (Removing Given-When-Then)
  - #30 (Updating Given-When-Then)
  - #38 (Adding Scenario)
  - #39 (Removing Scenario)

- **Open** Use Cases
  - #60 (Updating Scenario)
  - #61 (Adding Feature)
  - #62 (Removing Feature)

- @martonsagi
  - **open** #71, #73, #74
  - other **todos**
    - adjust bu

[2020-11-28 13:30] DavidFeldhoff commented on #81
Hi Marton, I think we agreed that you're reacting on the unsuccessful scenario change/ creation, so I don't know what I can do here, so I'll assign it to you.
If there's something I can do, please feel free to contact me

[2020-12-21 13:17] martonsagi commented on #81
Additional implementation was needed on UI side to handle saveChanges event on the form-part as well. This way the MethodName is properly updated on scenarios.

[2020-12-21 13:18] martonsagi commented on #74
I have fixed the logic, now it uses the number of scenarios instead of the Scenario ID.

[2020-12-21 13:19] martonsagi commented on #73
I have fixed the logic, now it uses the number of scenarios instead of the Scenario ID. So there will always be a valid number. :)

[2020-12-21 13:20] martonsagi commented on #71
The edit form also needed to handle SaveChanges events. Also, when a cancel event is processed, I turn off the "updater" event that sends updates to the server side.

[2020-12-21 15:19] ReneGubler opened #82 "Error after Installing the extension"
Hi
I just installed the atdd-testscriptor-0.1.278.vsix and got the following error when I open the tool.

![image](https://user-images.githubusercontent.com/25059443/102791760-cc3bc280-43a7-11eb-9fe7-46b1d9f57d5c.png)

Do I have to configure anything?
Is it possible to import existing excel sheets (we did allot in the past)?

Greetings René

[2020-12-21 15:33] lvanvugt commented on #82
You're fast @ReneGubler. We have no official release yet even though we build a pipeline to the gallery.
Thanx for reporting!

[2020-12-21 15:33] lvanvugt commented on #82
Not yet. This will be v2.

[2020-12-24 08:39] lvanvugt commented on #82
@ReneGubler, where did you collect this .vsix by the way?

[2020-12-28 11:02] lvanvugt commented on #22
## Status ~~December 28, 2020~~ January 21,2021

- **Closed** Use Cases
  - #27 (Adding Given-When-Then)
  - #28 (Removing Given-When-Then)
  - #30 (Updating Given-When-Then)
  - #38 (Adding Scenario)
  - #39 (Removing Scenario)

- **Open** Use Cases
  - #60 (Updating Scenario)
  - #61 (Adding Feature)
  - #62 (Removing Feature)

- @martonsagi
  - **open** #61, #62 **help wanted** (maybe already f

[2020-12-29 13:55] DavidFeldhoff commented on #73
Well, there's still an issue if I add a Scenario which is called "New Scenario (5)" (5 because 4 others are already there). Then I rename it to New Scenario (6) manually in the code and restart VSCode. Then I add another Scenario, then it takes "New Scenario (6)" again which isn't unique. But I think we can skip this scenario and leave it as it is. This won't happen in praxis.
@lvanvugt : Fine for

[2020-12-29 14:04] DavidFeldhoff commented on #71
Unfortunately it doesn't look good yet. I'm triggered each few milliseconds. It has to be a really fast typer to get the scenario renamed correctly ^^
Is it possible if you trigger the modification like in the "given when then" elements: On leaving the field?
That would be better I think and more consistent anyway.
![Issue71](https://user-images.githubusercontent.com/53570297/103289292-20b5f200-49

[2020-12-29 14:06] DavidFeldhoff commented on #74
Tested and okay

[2020-12-29 14:06] #74 closed

[2021-01-14 07:44] ReneGubler commented on #82
From  this repo

[2021-01-14 08:00] lvanvugt commented on #82
OK that's an very old one and so not containing much functionality. We're still working on getting a beta out.

[2021-01-14 08:00] #82 closed

[2021-01-21 06:25] lvanvugt commented on #73
@DavidFeldhoff, for now I can live with this. I will mark it as **wont fix** (low severity)

[2021-01-21 06:25] #73 closed

[2021-01-21 06:38] lvanvugt commented on #78
@DavidFeldhoff, I am trying to reconstruct this behaviour to be able to define test for it, but running into the following:

**Steps**
1. Using test codeunit 50100 TestObjectFLX (present in our test project), having only one test `FirstTestFunctionWithValidGivenWhenThenstructure`
2. Both OnRun and test function have feature tag, ie `// [FEATURE] First test object`
3. Creating new scenario using th

[2021-01-21 06:54] lvanvugt commented on #81
Update test scenario 83 (making 84 obsolete and removed 84)

**Result:** OK

[2021-01-21 06:54] #81 closed

[2021-01-21 07:01] lvanvugt commented on #71
Belonging to #60

[2021-01-21 08:15] lvanvugt commented on #71
In today's update discussion we decided that the scenario name should only be updated when changing focus (i.e. leaving the text box).

[2021-01-21 08:34] DavidFeldhoff opened #83 "Run Tests in Pipeline"
Currently the automated tests can run manually, but it would be nice to get them running in the pipeline

[2021-01-21 08:44] lvanvugt commented on #22
## Meeting January 21, 2021

### Status
See previous post

#### Remaining to-dos
- @martonsagi
  - #61, #62 #71 (high prio)
    - get these fixed/completed before next meeting (see below)
  - enable pipeline to release to VSCode Marketplace
- @DavidFeldhoff and @lvanvugt
  - #78 (low prio)
    - get test scenarios in place

#### Automated tests
@DavidFeldhoff has scripted test to test the back-end

[2021-01-28 06:41] lvanvugt commented on #78
@DavidFeldhoff does the commit mean that this is fixed? (Note that in previous update meeting I asked if you could show how this should work by means of a short video. Not needed?)

[2021-01-28 06:45] lvanvugt commented on #22
## Meeting January 28, 2021

### Status
- @martonsagi
  - **fixed** #61, #62, #71
  - release pipeline to marketplace
- @DavidFeldhoff
  - **not yet fully fixed** #78
  - create issues for
    - codeunits that do not have FEATURE/SCENARIO tags will be displayed in TestScriptor based on the test method name (Is already implemented but should be documented)
    - casting long SCENARIO description in

[2021-01-28 07:04] lvanvugt commented on #78
No finished yet as @DavidFeldhoff explained this morning. That's why it is still on has name.

[2021-01-29 08:11] lvanvugt opened #84 "Use Case: Handle multiple Features in one test codeunit"
This issue is to get clearance (and eventually implement) on how TestScriptor should handle test codeunits with multiple FEATURES.

### Current Situation
When creating a new FEATURE this leads to a new test codeunit that complies with the implicit principle that one codeunit contains only one FEATURE. The FEATURE tag will (only) be stored in the OnRun trigger.
But existing test codeunits can conta

[2021-01-29 08:20] lvanvugt opened #85 "Use Case: Handle one Feature spread over multiple test codeunits"
_This issue is to get clearance (and eventually implement) on how TestScriptor should handle one FEATURE spread over multiple test codeunits._

### Current Situation
Multiple test codeunits can contain SCENARIOs that belong to one FEATURE.

### Wanted situation
Users might want to have a function that can aggregate single FEATURE spread over multiple test codeunits into one test codeunit

### Disc

[2021-01-30 10:39] lvanvugt opened #86 "Clicking second time on garbage can while not having approved first time"
Clicking second time on garbage can, leaves Given/Then in ATTD.TestScriptor page. While ...

- not having approved first time, and
- approving only after second click on garbage can, which
- will remove .al comment, function call and function definition, but .

**To Reproduce**
Steps to reproduce the behavior execute the following test scenarios

No. | Feature | Scenario
-- | -- | --
0089 | Removi

[2021-01-30 12:37] lvanvugt commented on #71
Tested and OK now.

[2021-01-30 12:37] #71 closed

[2021-01-30 12:38] #60 closed

[2021-01-30 13:12] lvanvugt opened #87 "Adding duplicate feature should throw message and revert addition in TestScriptor page"
When adding a duplicate feature a message should be thrown and the added feature reverted in TestScriptor page.

**To Reproduce**
Steps to reproduce the behavior execute the following test scenario

No. | Feature | Scenario
-- | -- | --
0095 | Adding Feature | Adding duplicate Feature

in [atdd-test-scenarios-and-results.xlsx](https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/blob/ma

[2021-01-30 13:41] lvanvugt commented on #22
## Status January 30,2021

- **Closed** Use Cases
  - #27 (Adding Given-When-Then)
  - #30 (Updating Given-When-Then)
  - #38 (Adding Scenario)
  - #60 (Updating Scenario)
- **Open** Use Cases
  - **reopened** #28 (Removing Given-When-Then) -> bug #86
  - **reopened** #39 (Removing Scenario) -> bug #88
  - #61 (Adding Feature) -> bug #87
  - #62 (Removing Feature) -> not working (see notes on Use

[2021-01-30 13:46] lvanvugt commented on #62
This seems not to work.

When deleting a feature:

1. I do **not** get a dialog asking me whether I want to delete the feature
2. The line(s) relating to the feature is/are **not** removed from the ATDD.TestScriptor page, but
3. The codeunit file remains

See test scenarios

No. | Feature | Scenario
-- | -- | --
0098 | Removing Feature | Remove Feature
0099 | Removing Feature | Remove Feature step

[2021-01-30 14:05] lvanvugt commented on #86
@martonsagi, can this be fixed by catching any additional click on the control within a short time?

[2021-01-31 05:47] lvanvugt opened #88 "Clicking second time on "Delete Scenario" action while not having approved first time"
Clicking second time on "Delete Scenario" action, leaves Scenario in ATTD.TestScriptor page. While ...

- not having approved first time, and ...
- approving (all questions) only after second click on "Delete Scenario" action, which ...
- will remove .al test function and all helper functions, but ...
- will leave Scenario (line) in ATTD.TestScriptor page

**To Reproduce**
Steps to reproduce the b

[2021-01-31 05:51] lvanvugt commented on #88
@martonsagi, can this be fixed by catching any additional click on the control within a short time?

[2021-02-02 15:51] lvanvugt commented on #48
@martonsagi, is this something we could simply enable for now by adding a refresh action on the TestScriptor page?

[2021-02-03 06:58] StefanMaron opened #89 "Test Scenario Editor wont show when using custom testDirectory"
**Describe the bug**
When specifying a custom path to the test directory, the editor wont show any content anymore.
See error in dev console in screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Specify a custom test directory
2. Open the test scriptor

**Result**
See Screenshot

**Expected behavior/result**
The test scriptor should show the existing features and scenarios

**Screen

[2021-02-03 07:12] lvanvugt commented on #89
LOL, you have to use forward slashes (had to find out myself too). Thought is was me that did not know and that it was standard VSCode/json.

[2021-02-03 07:17] StefanMaron commented on #89
Works, thanks ;)

[2021-02-04 06:50] lvanvugt commented on #22
## Meeting February 4, 2021

### Status
- @martonsagi
  - **fixed** release pipeline to marketplace
  - **to fix**
    - #28 (Removing Given-When-Then) / bug #86
    - #39 (Removing Scenario) / bug #88
- @DavidFeldhoff
  - **create** issues for
    - codeunits that do not have FEATURE/SCENARIO tags will be displayed in TestScriptor based on the test method name (Is already implemented but should b

[2021-02-04 07:14] lvanvugt commented on #89
@DavidFeldhoff might find a solution that backslashes are also accepted. Just now did a quick check using different json parser and seems to work.

**Note** this issue is also the case in for example the app.json when defining a path for the logo

[2021-02-04 09:47] lvanvugt opened #90 "VSCE_PAT variable access token Marketplace"
A VSCE_PAT variable needs to be defined that is an access token for your Marketplace account

`https://code.visualstudio.com/api/working-with-extensions/publishing-extension#get-a-personal-access-token`

[2021-02-04 10:20] lvanvugt commented on #90
**Visual Studio Code Marketplace publisher** [fluxxusnl](https://marketplace.visualstudio.com/manage/publishers/fluxxusnl)

[2021-02-04 10:24] lvanvugt commented on #90
**VSCE_PAT** created and set as variable in ADO
![image](https://user-images.githubusercontent.com/18466198/106879799-e4f40380-66db-11eb-9198-b850fa2cf31b.png)

[2021-02-04 10:36] #90 closed

[2021-02-04 10:37] lvanvugt opened #91 "Azure BLOB storage for insider build"
Setup a Azure BLOB storage where insider build can be published.

[2021-02-04 10:38] lvanvugt commented on #91
Setup
![image](https://user-images.githubusercontent.com/18466198/106881138-7152f600-66dd-11eb-9c0f-ac6e6e75fdc0.png)

[2021-02-06 16:13] DavidFeldhoff opened #92 "Delete an element of a scenario which exists twice"
**Describe the bug**
If there are two scenarios inside a file with the exact same scenario description and then I want to delete an element of the second scenario, then there should be an error (haven't tested it yet honestly, this is more a reminder^^)

**To Reproduce**
Steps to reproduce the behavior:
1. Test Codeunit with two identical scenarios names "// [Scenario 001] My Scenario " and "// [S

[2021-02-06 16:35] DavidFeldhoff commented on #92
..Okay.. Could fix it on my own :) Fixed locally, will push it later..

[2021-02-06 16:48] #92 closed

[2021-02-06 16:50] DavidFeldhoff commented on #89
Fixed with commit 784ed01da313609e6ad432a23f378ee651b1858f

[2021-02-06 16:52] #89 closed

[2021-02-06 16:56] DavidFeldhoff commented on #87
@martonsagi : With 784ed01da313609e6ad432a23f378ee651b1858f I return now that a feature already exists.
That works, so that the feature is not inserted. But let's say I create a second time the feature "First test object". Then I return "That feature already exists.".
So I want to add "First test object 2" instead of "First test object". But then I'm triggered as if it would be a Renaming of the f

[2021-02-06 16:59] DavidFeldhoff commented on #78
It's finished with 784ed01da313609e6ad432a23f378ee651b1858f.
So if one file only has ONE feature, then the feature comment to an added test method is omitted.
If in one file there are muliple features, then the feature comment to an added test method is added.

[2021-02-06 17:01] DavidFeldhoff commented on #62
Works with 784ed01da313609e6ad432a23f378ee651b1858f.
If a feature is inside multiple files, then it checks if a file consists of only this one feature. If that's the case, then the whole file will be deleted.
If the file consists only partially of the feature, then only the test methods of that feature will be deleted.

[2021-02-06 17:05] DavidFeldhoff opened #93 "If a scenario tag is missing of a test method, then the method name should be taken into account."
**Is your feature request related to a problem? Please describe.**
If I don't have a scenario comment in place in my test method, then the ATDD page is blank and I'm not able to recognize which of the blank lines is the test method I'd like to change ;)

**Describe the solution you'd like**
In that case the method name should be shown in the ATDD page. If I then change the "Scenario description" (

[2021-02-06 17:06] DavidFeldhoff commented on #93
Already implemented with 04aae4153806460f79259cc01beb85e2b5c6fd5f

[2021-02-06 17:06] #93 closed

[2021-02-07 13:16] DavidFeldhoff commented on #85
Currently it works that way, that if you delete a feature, that all files which contain this feature (and only this feature) are deleted, otherwise only the test features are deleted of that file that point to this feature.
Another thing is to add a scenario to a feature. Our logic is that we add the new scenario to the feature we've currently selected at the ATDD page. Marton currently sends me t

[2021-02-08 09:43] StefanMaron opened #94 "New Feature in empty project not possible"
**Describe the bug**
In an empty Project it is not possible to create new Feature

**To Reproduce**
Steps to reproduce the behavior:
1. New Project with al Go!
2. Create Folder "src"
3. Open Test Scriptor
4. change to features

**Screenshots**
If applicable, add screenshots or videos to help explain your problem.
![image](https://user-images.githubusercontent.com/24838311/107202403-745e2700-69fa-1

[2021-02-08 09:47] lvanvugt commented on #94
@StefanMaron, thanx for finding. This surely needs to get fixed.

**Workaround for now**
Create a dummy test codeunit with on test, for example:
[code]

[2021-02-08 10:10] StefanMaron opened #95 "Problems with renaming"
**Describe the bug**
When working on a feature, I think it is common to do quite some changes at various places. For each change I will get asked for confirmation. While I think this is good when updating already existing features, for not braking  stuff unintentionally, this disturbes the work flow on new features.

**Suggestion**
I think a switch to change to some kind of "Update Mode" would do

[2021-02-08 12:20] martonsagi commented on #86
Added a loader that blocks users from clicking twice when a backend interaction is initiated.

![ATDD_Loader](https://user-images.githubusercontent.com/18100709/107218671-3b30b180-6a10-11eb-9495-1157fe994e7f.gif)

[2021-02-08 12:20] martonsagi commented on #88
Added a loader that blocks users from clicking twice when a backend interaction is initiated.

![ATDD_Loader](https://user-images.githubusercontent.com/18100709/107218671-3b30b180-6a10-11eb-9495-1157fe994e7f.gif)

[2021-02-08 12:22] martonsagi commented on #94
I've added an empty input box for this case. (Commit message was mistakenly attached to #95 instead of 94)

![image](https://user-images.githubusercontent.com/18100709/107218916-9a8ec180-6a10-11eb-9730-a09f6a6e0a22.png)

[2021-02-08 13:23] martonsagi commented on #87
@DavidFeldhoff What is in the message object that you send back to the UI in this case?

[2021-02-09 06:35] lvanvugt commented on #86
Tested and OK.

[2021-02-09 06:35] #86 closed

[2021-02-09 06:35] lvanvugt commented on #88
Tested and OK

[2021-02-09 06:35] #88 closed

[2021-02-09 06:38] lvanvugt commented on #89
Tested and OK

[2021-02-09 06:39] lvanvugt commented on #22
## Meeting February 9, 2021

### Status
- @martonsagi
  - **fixed**
    - #28 (Removing Given-When-Then) / bug #86
    - #39 (Removing Scenario) / bug #88
    - #94 reported by Stefan Maron (works fine in single project workspace, not in multi project one - and we did not tests that any way)
    - When just moving out of Feature name box (in Features pane) a rename is triggered. Needs to be fixed

[2021-02-09 06:43] lvanvugt commented on #94
Error occurs in multi-project workspace setting. Works OK in single project workspace.
[code]
@martonsagi, can we fix this in beta?

[2021-02-09 06:45] lvanvugt commented on #95
Commit was wrongly assigned to this issue. Should have been linked to #94.

[2021-02-09 06:47] lvanvugt commented on #95
Seems less annoying with "atddTestScriptor.removalMode": "No confirmation, but removal", then you only get a dialog on the scenario of given rename.
However, a switch to disable all dialogs might make sense. @DavidFeldhoff for you to pick this up.

[2021-02-09 06:59] lvanvugt commented on #62
It seems not to do what you describe, @DavidFeldhoff, i.e. delete the codeunit file when this contains only one feature.

![Delete Feature does not remove file (Use Case 62)](https://user-images.githubusercontent.com/18466198/107326971-a5972f80-6aac-11eb-9d83-0d1aa6c363c9.gif)

[2021-02-09 19:50] DavidFeldhoff commented on #87
I made a change here, so that I now return false in the procedure correctly and the "userCancelledSaving" variable is true. But the issue of my previous comment remains.
https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/commit/b3d67b34084b227e8c61e4b527fb8d75bfec438b#diff-0fc540fe39809847cade5bbff4841e10f7963991d25714e61c7cb5d458736f31R220
https://github.com/fluxxus-nl/ATDD.TestScrip

[2021-02-09 19:54] DavidFeldhoff commented on #62
What you're doing there is that you remove a scenario - not the feature itself.
If you'd open the feature pane and then hit the trash-button there, then this file would be deleted.
That's how it is implemented now. Would you like it to change?

[2021-02-09 19:55] lvanvugt commented on #62
I must have been sleeping. Will have a look again. Thanx and apology.

[2021-02-09 20:01] DavidFeldhoff commented on #62
See here how it should work
![removeFeature](https://user-images.githubusercontent.com/53570297/107421119-e5483080-6b19-11eb-851c-66a6e13272c5.gif)

[2021-02-09 20:03] DavidFeldhoff commented on #78
@lvanvugt Do you want to test it? Otherwise I'd close it

[2021-02-09 20:16] lvanvugt commented on #78
Of course. ;-)

[2021-02-09 20:32] DavidFeldhoff commented on #94
Well, that was an issue on my site, not on martons, so you could have left it on my name 🤣
The issue was that the new test codeunit should be created inside a directory which did not exist.
I'll now create the parent directorys if they're not there yet.

[2021-02-12 06:07] DavidFeldhoff commented on #94
Let me explain how it's realized yet:
The issue was that I couldn't add the file to a directory which does not exist yet. As explained above, I'll create that directory now if it's not there yet.
But there's another thing that comes into play: To find out which directory it is to store the new files. For that we've our setting "atddTestScriptor.testDirectory" which specifies a relative path. But w

[2021-02-12 06:40] DavidFeldhoff commented on #48
@martonsagi I think I've experienced that there's already something in place for that. Have you added a filewatcher for that and is this issue than obsolete?

[2021-02-18 12:09] lvanvugt commented on #87
This is clearly no finished

[2021-02-18 12:16] lvanvugt commented on #39
#86 and #88 fixed, so closed

[2021-02-18 12:16] #39 closed

[2021-02-18 12:19] lvanvugt commented on #22
## Status February 18,2021

- **Closed** Use Cases
  - #27 (Adding Given-When-Then)
  - #28 (Removing Given-When-Then)
  - #30 (Updating Given-When-Then)
  - #38 (Adding Scenario)
  - #39 (Removing Scenario)
  - #60 (Updating Scenario)
- **Open** Use Cases
  - #61 (Adding Feature) -> bug #87
  - #62 (Removing Feature) -> still not working well (see notes on Use Case itself)

## Scope extension
- c

[2021-02-18 12:22] lvanvugt commented on #48
Indeed there is a file watcher and works fine, but not always. Would like to have an action on the TestScriptor page that will trigger a refresh.

[2021-02-18 12:24] lvanvugt commented on #62
Tested and not (fully) OK

- No dialog asking the user whether the Feature should be removed
- In case of multiple features in one codeunit no dialogs asking to move helper functions
- Feature tag in OnRun is not removed when multiple features in one test codeunit

[2021-02-18 13:23] lvanvugt commented on #31
Funny, today having a multi-project workspace it did at a point in time show the **project** column. where it first did not show.

[2021-02-18 13:29] lvanvugt commented on #94
Tested and OK. No test yet created. Is on to-do list.

[2021-02-18 13:29] #94 closed

[2021-02-18 13:35] lvanvugt commented on #22
## Meeting February 18, 2021

### Status
- @martonsagi
  - **to fix** #95
  -  #61 (Adding Feature)/bug #87 -> Still open question from @martonsagi
    - Also when just moving out of Feature name box (in Features pane) a rename is triggered. Needs to be fixed (@DavidFeldhoff will create issue)
- @DavidFeldhoff
  - **create** issue for
    - casting long SCENARIO description into test method name

[2021-02-18 15:44] lvanvugt commented on #95
Solve it by adding a setting that controls turning of all dialogs (update, remove ...) -> @DavidFeldhoff
Add a UI element that sets it -> @martonsagi  (sends info to backend to handled)

[2021-02-18 15:59] DavidFeldhoff opened #96 "Empty Feature is created"
**Describe the bug**
If I open the feature pane, click on the text box and leave it again without entering a feature name, then there's still a feature created.

**To Reproduce**
See above :)

**Expected behavior/result**
A feature should only be created if it has a name

**Screenshots**
![image](https://user-images.githubusercontent.com/53570297/108384070-ad707580-720a-11eb-94e6-573c4aae172d.png)

[2021-02-18 16:00] DavidFeldhoff opened #97 "feature in multiple files error while renaming a scenario"
**Describe the bug**
While changing the name of a scenario there pops up an error that a feature is in

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Result**
A clear and concise description of what the current result is.

**Expected behavior/result**
A clear and concise description of what you expected to happen and wh

[2021-02-18 16:02] DavidFeldhoff opened #98 ""Feature in multiple files error" while renaming a scenario"
**Describe the bug**
While changing the name of a scenario there pops up an error that the feature exists in multiple files and that currently one features inside one file are supported.

**To Reproduce**
1. Create a test codeunit with Feature A and some scenarios
2. Create another test codeunit with Feature A and some scenarios
3. Try to rename one of the scenarios

**Expected behavior/result**
T

[2021-02-18 16:45] DavidFeldhoff commented on #98
@martonsagi: As an exception I made a change in the webui - Just for your Info :) The issue was that I had the same error on adding a new scenario when the feature is split up over two files. I tried to find the fspath based on the feature name and project I got from the ui site, but in the scenario described above I got two features and didn't know to which file I should add the new scenario. Now

[2021-02-18 16:46] DavidFeldhoff commented on #97
Well, this issue was created by accident :)

[2021-02-18 16:46] #97 closed

[2021-02-18 16:46] DavidFeldhoff commented on #97
See #98 instead

[2021-02-19 06:57] StefanMaron opened #99 "Scenarios shown multiple times in workspaces"
**Describe the bug**
When I use a workspace with multiple paths to my test folder, the scenarios are shown multiple times.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Create a workspace like shown in Screenshot
3. Open up the test scriptor

**Screenshots**
![image](https://user-images.githubusercontent.com/24838311/108469083-f4e91700-7287-11eb-8d6c-f572c0c4eac9.pn

[2021-02-19 07:02] lvanvugt commented on #99
Thanx @StefanMaron .

I am not sure if this is a scenario we should cover right now, including the question how easily this could be covered/fixed.

@martonsagi and @DavidFeldhoff, what do you think?

For time being labelled it **Version B**.

[2021-02-19 07:04] lvanvugt commented on #98
Belonging to Use Case #60

[2021-02-19 10:49] DavidFeldhoff commented on #99
I can have a look into it and maybe it's a quick fix, so I'll fix it directly. If it takes longer, I think there are other more important things to put our focus on right now :)
Nevertheless: Good catch!

[2021-02-19 10:50] lvanvugt commented on #99
Agree.

[2021-02-20 10:13] lvanvugt commented on #98
Tested and OK

See new test scenarios

No. | Feature | Scenario
-- | -- | --
0107 | Updating Scenario | Rename scenario of feature in   two codeunits
0108 | Updating Scenario | Rename scenario of   feature in two codeunits step 2a
0109 | Updating Scenario | Rename scenario of feature in two codeunits step 2b

in [atdd-test-scenarios-and-results.xlsx](https://github.com/fluxxus-nl/ATDD.TestScriptor

[2021-02-20 10:13] #98 closed

[2021-02-20 10:17] lvanvugt commented on #31
Close this issue as #77 does also mention it.

[2021-02-20 10:17] #31 closed

[2021-02-23 14:19] lvanvugt commented on #91
Thanx a lot @martonsagi to help to get this working.

Latest build can always be downloaded using this URL: https://luxadofiles.blob.core.windows.net/atddtestscriptorinsiderbuild/latest-develop.vsix

[2021-02-23 14:19] #91 closed

[2021-02-25 14:53] lvanvugt commented on #22
## Meeting February 25, 2021

### Status
- @martonsagi
  - **to fix** #95
  -  #61 (Adding Feature)/bug #87 -> Still open question from @martonsagi
    - Also when just moving out of Feature name box (in Features pane) a rename is triggered. Needs to be fixed (@DavidFeldhoff will create issue)
- @DavidFeldhoff
  - **create** issue for
    - casting long SCENARIO description into test method name

[2021-03-04 08:19] martonsagi commented on #96
Added the fix to prevent communication if the textbox value is empty on blur.

[2021-03-09 14:26] DavidFeldhoff commented on #78
Hi Luc, I'll put it on your name to test it :)

[2021-03-09 15:22] DavidFeldhoff commented on #95
I added a setting "showConfirmations" which is true by default.

[2021-03-09 15:44] DavidFeldhoff commented on #99
I fixed it with the latest referenced commit

[2021-03-09 15:47] DavidFeldhoff commented on #87
@martonsagi I'll put it on your name only as I return the correct state (in my eyes). If I'm missing something or if I can help you, let's have a chat.

[2021-03-09 15:48] DavidFeldhoff commented on #62
This should be fixed now. @lvanvugt: Time for testing ;)

[2021-03-09 15:49] DavidFeldhoff commented on #48
@martonsagi: Can I do something here for now? I would wait for something from your site to get active here.

[2021-03-10 08:46] lvanvugt commented on #62
Hope to find some time this weekend to test it. This is loaded including the start of the project for the 2nd edition of my book. ;-)

[2021-03-11 16:34] DavidFeldhoff commented on #95
Backendcall: Set/GetConfiguration. Implemented by me, called by Marton

[2021-03-11 16:48] DavidFeldhoff commented on #48
We're going to add an action here that refreshes the content of the ATDD

[2021-03-19 11:31] lvanvugt commented on #62
We're getting close.

2 out of 3 scenarios do work.

When deleting a FEATURE that's spread over multiple (2) codeunits, they are not removed. See scenario 0106, that fails.
-  "Same Feature" is removed from Features pane in ATTD.TestScriptor page, so this is OK
- But the related files are not removed and the test scenarios in it are still displayed in the TestScriptor pane

No. | Feature | Scenari

[2021-03-19 11:37] lvanvugt commented on #95
What's next to do here?

[2021-03-19 11:37] lvanvugt commented on #99
@DavidFeldhoff, for my understanding: what's next to do for this? Only testing?

[2021-03-19 12:00] lvanvugt commented on #22
## Meeting March 11, 2021

@lvanvugt forgotten to update the notes.

### Goal
To get a beta version out that allows the user to do the most important basic things
- Add, Update, Remove Given/When/Then
- Add, Update, Remove Scenario
- Add, ~~Update~~, Remove Feature

## Next meeting

March 19, 2021, 16:30 (AM)

[2021-03-19 12:03] lvanvugt commented on #22
## Meeting March 19, 2021

### Status
- **Closed** Use Cases
  - #27 (Adding Given-When-Then)
  - #28 (Removing Given-When-Then)
  - #30 (Updating Given-When-Then)
  - #38 (Adding Scenario)
  - #39 (Removing Scenario)
  - #60 (Updating Scenario)
  - #62 (Removing Feature)
- **Open** Use Cases
  - #61 (Adding Feature) -> bug #87

- @martonsagi
  - **open**
    - #87
    - #100
    - with @DavidFeld

[2021-03-19 15:40] lvanvugt commented on #62
Retested, together with David (important requirement ;-) it is working!

[2021-03-19 15:40] #62 closed

[2021-03-19 15:59] #96 closed

[2021-03-19 16:03] lvanvugt commented on #48
Retesting should show if it's still valid

[2021-03-19 16:04] DavidFeldhoff opened #100 ""Unable to rename feature" appears when I'm clicking through the features even without I'm changing something"
**Describe the bug**
Click trough the features in the ATDD page. Everytime a notification appears that it's unable to rename a feature. But I haven't changed anything at all, so the backend shouldn't be triggered at all.

[2021-03-25 15:57] lvanvugt commented on #22
## Meeting March 25, 2021

Nothing achieved last week.

### Goal
To get a beta version out that allows the user to do the most important basic things
- Add, Update, Remove Given/When/Then
- Add, Update, Remove Scenario
- Add, ~~Update~~, Remove Feature

## Next meeting

April 1, 2021, 16:30 (AM)

[2021-03-31 10:47] DavidFeldhoff opened #101 "Changing the when element fails some times"
**Describe the bug**
I have to investigate how this could happen, but today I experienced some issues while renaming the when part

[2021-04-01 10:49] martonsagi commented on #100
This has been fixed, it can be tested.

[2021-04-01 12:01] martonsagi commented on #95
UI toggle has been implemented.
@DavidFeldhoff : I could not find the backend calls, so I have added them to the WebPanelCommandService class as skeleton code just to make it work with the UI. Actual setting handling needs to be finished on you side.

![ATDD_UpdateMode](https://user-images.githubusercontent.com/18100709/113290881-840b3500-92f2-11eb-8692-d2084b8398a5.gif)

[2021-04-01 14:38] #61 closed

[2021-04-01 14:44] DavidFeldhoff opened #102 "Add a new feature should also work in multiroot workspaces."
Currently the atddTestScriptor.testDirectory has as reference the workspace file, but it should be the project folder to which the feature should be added

[2021-04-01 16:53] lvanvugt commented on #22
## Meeting April 1, 2021

### Status
- **Closed** Use Cases
  - #27 (Adding Given-When-Then)
  - #28 (Removing Given-When-Then)
  - #30 (Updating Given-When-Then)
  - #38 (Adding Scenario)
  - #39 (Removing Scenario)
  - #60 (Updating Scenario)
  - #62 (Removing Feature)
  - #61 (Adding Feature)

- @martonsagi
  - **open**
    - #87
  - **closed**
    - #100

- @DavidFeldhoff
  - **open**
    - #9

[2021-04-01 17:36] lvanvugt commented on #35
Issue also applies for the list. Hovering over any shortened description does not show the full string.

![image](https://user-images.githubusercontent.com/18466198/113332407-6c977080-9321-11eb-9635-0319a52d5c4d.png)

[2021-04-01 17:41] lvanvugt commented on #83
@martonsagi what (still) needs to be done to accomplish this?

[2021-04-01 17:43] lvanvugt commented on #29
@martonsagi and @DavidFeldhoff how much work would this be?

[2021-04-01 17:45] #59 closed

[2021-04-01 17:48] lvanvugt commented on #65
@martonsagi and @DavidFeldhoff how much work would this be?

[2021-04-01 17:49] lvanvugt commented on #76
Renumber can be done in the AL code.

[2021-04-01 17:49] #76 closed

[2021-04-01 17:50] lvanvugt commented on #50
@martonsagi how much work would this be?

[2021-04-01 19:11] martonsagi commented on #83
I need to check if tests are running locally on my machine (it's clean in this respect). Then I can evaluate possible dependencies and tasks for DevOps runs.

*Note*: VSCode testing might download a headless VSCode version each time, so the could extend each DevOps run by ~5 minutes.

[2021-04-01 19:17] martonsagi commented on #65
The UI part can be done in an afternoon time.

[2021-04-01 19:18] martonsagi commented on #50
It's a small change, only a quick fix is needed when this task gets priority.

[2021-04-01 19:40] martonsagi commented on #29
This one is a bit more complex task. On the UI side the drag&drop part can be implemented quickly (dragula component is already in place). The MessageUpdate object needs to be extended with new position.

[2021-04-02 07:38] DavidFeldhoff commented on #99
Yes, excatly. They won't be added twice anymore

[2021-04-02 07:51] lvanvugt commented on #65
@DavidFeldhoff ?

[2021-04-02 08:14] DavidFeldhoff commented on #83
I just ran them again and saw that a few ones fail. Let me check that first. I'll come back to you if they're running successful again

[2021-04-02 09:16] DavidFeldhoff commented on #65
I should get it done on a weekend

[2021-04-02 10:53] DavidFeldhoff commented on #83
I fixed the tests. They run successfully on my local machine if I call them from the vscode-extension folder (necessary because of the relative paths as you already noticed once)

[2021-04-02 10:53] DavidFeldhoff commented on #83
If you have some questions -> Feel free to reach out to me:)

[2021-04-02 10:57] lvanvugt commented on #29
@DavidFeldhoff ?

[2021-04-02 10:57] lvanvugt commented on #83
No commit linked to this issue, @DavidFeldhoff ?

[2021-04-02 12:17] DavidFeldhoff commented on #83
I've fixed it with this one :)
45020ba9c8887cca58cfdf222d25d614272c323f

[2021-04-02 16:10] DavidFeldhoff commented on #29
I think I'd spend a weekend for this one as it needs some testing as well. And what should be exactly done? Because the helper function does not always have the exact same name (e.g. because it was generalized). Should in these cases all lines that are below the "Given" Comment be moved? I have to check how we proceed with deleting a given in these cases as it should react somewhat the same, I thi

[2021-04-03 18:36] DavidFeldhoff commented on #102
This one is done. Luc, I'll assign it to you for testing

[2021-04-03 18:42] DavidFeldhoff commented on #101
I found out the issue. I created a procedure "CreateValidGiven". Then I noticed, that I'm writing the text for the comment, so I added spaces. That means: The element text/comment was changed, but the procedure name kept the same. But in that case I deleted the helper function.
Explanation: The "old" and "new procedure" exists (as its the same ^^). But as the old procedure had only one caller whic

[2021-04-03 18:43] DavidFeldhoff commented on #101
And it's fixed with the latest commit ;)

[2021-04-03 19:20] DavidFeldhoff commented on #95
The setting is set now, but because of some reason the setting isn't read correctly on startup here
https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/blob/master/web-ui/src/resources/elements/toolbar.ts#L21

Can you please have a look at it, @martonsagi ?

[2021-04-08 14:52] lvanvugt commented on #95
Consider to rename **No confirmation** to **Disable confirmations**.

[2021-04-08 15:02] lvanvugt commented on #22
## Meeting April 8, 2021

We're close to completing beta and set version to 1!

### Status
- **Closed** Use Cases
  - #27 (Adding Given-When-Then)
  - #28 (Removing Given-When-Then)
  - #30 (Updating Given-When-Then)
  - #38 (Adding Scenario)
  - #39 (Removing Scenario)
  - #60 (Updating Scenario)
  - #62 (Removing Feature)
  - #61 (Adding Feature)

- @martonsagi
  - **open**
    - #87

- @lvanvug

[2021-04-13 06:43] DavidFeldhoff opened #103 "Add Given and directly delete the (empty) one again -> "Given '' not found""
**Describe the bug**
If I click on "+ Given" to add a new "Given" Textbox and then directly delete it afterwards, then the empty given is (of course) not found anywhere which is why an error shows up.

**Result**
Unnecessary result shows up. Doesn't hurt, but shouldn't show up.

**Expected behavior/result**
The error shouldn't show up and the textbox should be deleted.

**Screenshots**
![image](ht

[2021-04-13 06:51] lvanvugt commented on #103
Great catch.

[2021-04-13 06:52] DavidFeldhoff commented on #50
As I'm just working quite much with the ATDD, I realize how much it would improve the user experience if this would make it to the product. I don't want to blow up and postpone our first release, but **if** it's really a quick fix, I'd appreciate if you can have a look at it

[2021-04-13 06:54] lvanvugt commented on #50
Totally agree and great that you use it more than I do (unfortunately). 👍

[2021-04-13 08:19] DavidFeldhoff commented on #95
As I'm working with it: I think this shouldn't be mostly a workspace setting, but a user setting.
Currently, If I change this setting in the ATDD page, it shows up directly in my git-changes as the workspace file is changed. But I will typically never commit that change to the workspace file as it is a preference of me that I don't want the confirmations to show up (=user preference -> user settin

[2021-06-11 13:44] StefanMaron commented on #95
At least for me it does not matter where to set up stuff, as long as I am able to set up at all

[2021-06-16 08:23] GreatScott000 opened #104 "Duplicate Scenario Number"
**Describe the bug**
If you have removed a scenario that is lower in number than last scenario and then add a new scenario, the last scenario number will be duplicated.

**To Reproduce**
Steps to reproduce the behavior:
1. In a Test app with existing an existing feature having more than 3 scenarios, open the ATTD.TestScriptor Page
2. Delete a scenario lower than the highest numbered feature (e.g.

[2021-06-16 08:31] lvanvugt commented on #104
Thanx for reporting @GreatScott000. We'll have a look at it.

[2021-06-16 11:16] BennoVendrig opened #105 "Export GIVEN, WHEN and THEN to Excel"
I would like to have the functionality to export per unittest all the descriptions in the FEATURE, SCENARIO, GIVEN, WHEN, THEN attributes to Excel. If this is possible we are able to inform the stakeholders which have no access to the AL sourcecode about the amount en type of unittests are available and we have some "evidence" to our customers about the automatic test which are available

[2021-06-16 11:40] lvanvugt commented on #105
Hi Benno, thanx for the interest. Good to see.
This is on our list for v2, where we want to enable import/export from/to Excel. But first version v1 needs to get completed. And before that I first not to get the 2nd edition of my book completed.

BTW: having expressed your interest we might decide to have this done as first thing for v2.

[2021-06-16 11:43] BennoVendrig commented on #105
Thanks for the quick response. Do you have any idea of the time schedule for delivering this functionality?

[2021-06-16 11:44] lvanvugt commented on #105
No, hope to get v1 finished somewhere this summer and start v2 in fall.

[2021-07-15 06:19] StefanMaron opened #106 "Files created with test scriptor lead to serveral problems"
**Describe the bug**
When a new Feature is created with the test scriptor, the test codeunit for it is created automatically.

When I then save the codeunit and its renamed automatically with the CRS Extension an error occurs
![image](https://user-images.githubusercontent.com/24838311/125738076-90ee45b3-b29c-4edd-a17a-ac28f7849c02.png)

Not sure if this is an error in the CRS extension or is a gen

[2021-11-12 19:56] epernst commented on #105
Hi @lvanvugt Luc,
Hope you're ok! I guess you're as busy as the rest of us? :)

We have been using "your" Excel sheet for some years now, and I was being asked for the same thing by our team.
We very often add further tests, on top of the ones we added at our original discovery (3 Amigos) meetings. Having to maintain the scenarios in two places is really a killer, so most often these tests are nev

[2021-11-13 06:37] lvanvugt commented on #105
Hey @epernst, doing well and still busy with completing the book. That's the very reason that this project is not moving at this moment. Will get back to it when the book is finished, which is projected for end this month and maybe some parts to do in December.
Indeed the issue you're describing (and initially @BennoVendrig is pointing to) is a valid one and on of the two next major things to be a

[2021-11-28 21:00] nickgoddard777 opened #107 "Not picking up Test Codeunits"
**Describe the bug**
I have 16 Test Codeunits.  Only 8 of them are being picked up in ATDD.TestScriptor in VS Code.  Most of the Codeunits were created using the ATDD.TestScriptor Powershell module.  Some of these are picked up some are not.

**To Reproduce**
Steps to reproduce the behavior:
1. Created  Powershell Test Script using ConvertTo-ALTestCodeunit (Example attached)
2. Run the above scrip

[2021-11-29 05:14] lvanvugt commented on #107
Hey @nickgoddard777,

Thanx for reporting, and also, thanx for using the TestScriptor extension.
I reckon that the attached. zip file is containing the code examples? Just wanted to check before I open something malicious.

[2021-12-13 00:55] nickgoddard777 commented on #107
Hi Luc,

Sorry, just seen your response.  Thanks for such a good set of tools, and a brilliant book. just got your second edition on packt subscription so really looking forward to reading that.

The zip file contains 2 files.  The Powershell script I used to create the test codeunit and then the second file is the test codeunit al file.

[2022-02-08 14:24] acjdekorte opened #109 "Tool cannot handle spaces in the objectnames"
**Describe the bug**
When a object name contains a space, the created code by tool for initiaze does not surround the name with "

**To Reproduce**
Steps to reproduce the behavior:
1. Create an test codeunit with a name with spaces
2. Use ATDD tool to create  a new scenario

**Result**
A clear and concise description of what the current result is.
![image](https://user-images.githubusercontent.com

[2022-10-14 07:33] lvanvugt opened #111 "Planning v1"
After a very long period of _silence_ today we had a re-kickoff call with @martonsagi, @DavidFeldhoff and @lvanvugt. Goal was to brainstorm on where we (think) we are and where we want to move to.
Based on the _brain varts_ of each we have come to the following "plan":

1. Get an understanding of what the current status of the ATDD.TestScriptor is
2. Determine what needs to be done to get a stable

[2022-10-14 07:34] lvanvugt commented on #22
v1 is now being picked up. Planning is now to be found in #111.

[2022-10-14 07:34] #22 closed

[2022-11-26 15:28] lvanvugt opened #112 "Reorg test folder so it uses standard naming convention"
**Issue**
Object names in [test folder](https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/tree/master/test) contain the FLX sufix as owned by fluxxus.nl. Currently the file name of the AL object files do also contain this sufix which is at this moment not complying with naming convention.

**Solution**
With a proper settings.json for the CRS VS Code extension (to be added) this could

[2022-11-26 15:29] #112 closed

[2022-11-26 15:55] lvanvugt opened #113 "Convert all flowcharts to drawio format"
**Issue**
Currently all flowcharts in https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/tree/master/flowcharts are in **visio** format which is not easily accessible/readable to many now adays. **drawio** format would rather be more generic.

**Solution**
Make all flowcharts available in drawio format.

[2022-11-26 15:56] #113 closed

[2022-11-26 16:21] lvanvugt opened #114 "Investigate current state d.d. 20221126 (scope proposal)"
### What is the current state of the product on 20221126?

After more than 18 month silence we are going to pickup the development of this product again. On[ April 8, 2021](https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/issues/22#issuecomment-815896813), we had our last development meeting and concluded on the **status**:

- **Closed** Use Cases
  - #27 (Adding Given-When-Then)

[2022-11-26 16:49] lvanvugt opened #115 "Make tag casing configurable"
**Current situation**
The casing of the tags being created based on input from ATDD.TestScriptor page is **Sentence casing**, meaning:

- Feature
- Scenario
- Given
- When
- Then

**Desired situation**
The user can determine tehmselves what the casing should be. A lot of existing tests currently use full **UPPER CASING**:

- FEATURE
- SCENARIO
- GIVEN
- WHEN
- THEN

It might even be that some only

[2022-11-26 18:38] lvanvugt opened #116 "Could we always get helper methods grouped according to related tag?"
**Current situation**
Any new helper method is added at the bottom of a test codeunit. This leads often to a lot of helper method not grouped according to the related tags.

**Wanted situation**
Have all helper methods grouped as follows:
- a group of all **GIVEN** related methods
- a group of all **WHEN** related methods, and
- one with all **THEN** related test methods
- and preferably have all

[2022-11-26 19:57] lvanvugt commented on #114
[while reviewing and retesting fixing a couple of typos]

[2022-11-26 20:12] lvanvugt commented on #102
Tested today and failing. Still not working in multiroot workspace

No. | Feature | Scenario
-- | -- | --
0086 | Adding Feature | Adding Feature 2a

in [atdd-test-scenarios-and-results.xlsx](https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/blob/master/test/test-scenarios/atdd-test-scenarios-and-results.xlsx)

### Additonal issues for "Adding Feature"
[listing them here, but if neede

[2022-11-26 20:49] lvanvugt commented on #48
Retesting as part of #114  showed it is still not refreshing in all cases and no action available.

[2022-11-26 20:51] lvanvugt commented on #50
Put in scope for v1.

[2022-11-26 21:02] lvanvugt commented on #85
## Deletion of Feature spread over multiple test codeunits

Works ok per the following tests.

No. | Feature | Scenario
-- | -- | --
0105 | Removing   Feature | Remove   Feature (located in two codeunits)
0106 | Removing Feature | Remove Feature (located in two codeunits) step 2

in [atdd-test-scenarios-and-results.xlsx](https://github.com/fluxxus-nl/ATDD.TestScriptor.VSCodeExtension/blob/master/t

[2022-11-26 21:07] lvanvugt commented on #95
@martonsagi, I do not see the button. Probably I do not have the latest build. Probably need to learn again were to find it. ;-)

[2022-11-26 21:09] lvanvugt commented on #99
The retest in context of #114 showed no duplicates, therefore closing this issue.

[2022-11-26 21:09] #99 closed

[2022-11-26 21:11] lvanvugt commented on #101
@DavidFeldhoff the issue title talks about **When**, but your _example_ about **Given**. What is the case?

[2022-11-27 09:18] lvanvugt commented on #111
## Meeting November 27, 2022
We discussed that status of the product by means of the investigation @lvanvugt and record it in #114. In this we focussed on the bugs. These will be our first focus (from top to bottom).

## Status
### Bugs
- #117
- #48
- #95
- #102
- #103
- #104
- #106
- #109

## Goal
We are targetting to get these fixed before 31st of January 2023. After that we are going to pick up

[2022-11-27 09:41] lvanvugt opened #117 "Fix ADO build pipeline"
**Issue**
ADO build is failing

[might need to add some more details]

### Notes

- Maybe lower prio right now, but does it also publish to VS Code marketplace?

[2022-11-27 09:48] lvanvugt commented on #48
Seems that scenario line in feature/scenario listing in ATDD.TestScriptor is updated but in the individual scenario pane not.
When reselecting scenario line in list the scenario pane is updated again.

[2022-11-27 09:56] lvanvugt commented on #95
It was not yet available in the latest published version (`0.9.218`), but it was in a later internal build https://fluxxus.visualstudio.com/TestScriptor/_build/results?buildId=232.
So, needs to be tested first.

[2022-11-27 10:01] lvanvugt commented on #102
Solution to last mentiond issue (test folder vs. src folder) is covered by this setting:
![image](https://user-images.githubusercontent.com/18466198/204129423-69d9e193-9ed5-422f-a58d-8f9572383f80.png)

[2022-11-27 10:05] lvanvugt commented on #104
Probably a UI side issue. @DavidFeldhoff mentions that it should rather be a backend side feature.

[2022-11-27 10:08] lvanvugt commented on #106
@lvanvugt will try to reproduce and get back to it.

[2022-11-27 10:10] lvanvugt commented on #107
@DavidFeldhoff mentions that it was an encoding issue, UTF8 vs. UTF16. We decided to only recognize UTF8 file encoding.

[2022-11-27 10:13] lvanvugt commented on #107
@nickgoddard777 Workaround is to save the ATDD.TestScriptor Powershell module created files to UTF8 encoding.

[2022-11-27 10:14] #107 closed

[2022-11-27 10:15] lvanvugt commented on #106
@DavidFeldhoff mentioned that we are calling CRS to rename files. So, that might be the issue.

[2022-11-27 10:45] martonsagi opened #118 "Empty feature gets saved as "undefined" when creating new Scenario"
**Describe the bug**
Empty feature gets saved as "undefined" when creating new Scenario

**To Reproduce**
Steps to reproduce the behavior:
1. Try adding a new scenario for a project without detected features

[2022-11-27 10:54] martonsagi opened #119 "Jump to the new scenarioafter creation"
**Describe the bug**
After creating a new screnario, the list does not jump to the selected row on the list-side.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on New Scenario button
3. List dows not scroll down to the new row

[2022-11-27 10:58] DavidFeldhoff commented on #104
Just fixed it together with Marton.

[2022-11-27 12:19] DavidFeldhoff commented on #102
@lvanvugt, Marton and me couldn't see what's wrong with scenario 86. That worked perfectly fine for us. The only issue we could reproduce is the error with the duplicate feature. Can you please confirm that this is the only error we're talking about?
I mean you were testing with an old version and maybe now, with the right version installed, scenario 86 is working for you as well.

[2022-11-28 16:33] nickgoddard777 commented on #107
@lvanvugt @DavidFeldhoff Thanks both that has done the trick.  Thanks for a brilliant tool

[2022-11-28 17:09] DavidFeldhoff commented on #107
Glad to hear! Hopefully we can find a way to support that as well in the future, but first we try to get a stable first version out and fixing the "real" bugs where we've no workarounds.
Thanks for the feedback! 🙂